[2020-10-30 19:27] rtyler opened #20 "Switch the Ruby binding from Helix to Rutie"
[Rutie](https://github.com/danielpclark/rutie) looks far more contemporary and maintained than Helix is at this point.

[rusty_lru](https://github.com/asppsa/rusty_lru) is an example gem which is already using Rutie.

[2020-10-30 21:44] rtyler opened #22 "Investigate possibility of WASM target"
Discussion with @nevi-me brought up an interesting idea, there may be a way to compile delta.rs to a wasm (Web Assembly) target and access a Delta table directly from within the browser.

This isn't something I'm personally going to have time to tinker with, but it would be a _really_ interesting experiment to see how far we can push this library.

[2020-10-30 21:47] rtyler opened #23 "Publish initial crate to crates.io"
Once #21 has been merged, I need to publish the crate

[2020-10-30 21:53] rtyler opened #24 "Publish placeholder library to the pypi"
Whether the package contains anything or not, I think we should go ahead and publish a `deltalake` library

[2020-10-30 23:46] #23 closed

[2020-10-30 23:50] rtyler opened #26 "Automate the publishing of releases based off of Git tags"
I tagged and published v0.1.1 manually to crates.io

At some point we should automate this with the GitHub Actions

Ideally this would also publish the PyPi and Rubygems packages as well.

[2020-11-03 20:37] nevi-me commented on #22
I'll play around with this in the December break; I've been wanting to write a few blog posts about using Rust for data eng; this could make for a good tutorial :)

[2020-11-07 17:24] sd2k opened #30 "Add Azure support"
It would be great to have support for Azure as well as S3 here. The Rust Azure SDK recently moved from https://github.com/MindFlavor/AzureSDKForRust to https://github.com/Azure/azure-sdk-for-rust and hasn't yet released anything to crates.io using the new crate names, but I imagine it won't be too long!

[2020-11-07 17:28] sd2k opened #31 "Feature gate some modules/dependencies"
Specifically the S3 (and Azure, if #30 is implemented) functionality could be feature gated fairly easily.

This would also be required for #22 because currently Rusoto depends on `hyper`, which won't compile to WASM (https://github.com/rusoto/rusoto/issues/1708 would be the likely eventual solution there).

[2020-11-18 22:49] rtyler commented on #24
Dave took care of this :laughing: https://pypi.org/project/deltalake/

[2020-11-18 22:49] #24 closed

[2020-11-30 18:00] #30 closed

[2020-11-30 18:00] #31 closed

[2020-12-04 07:02] houqp opened #36 "setup end to end integration CI test for S3 feature"
we could leverage projects like localstack and minio to serve test tables through S3 API

[2020-12-11 21:32] thovoll opened #39 "Test fails on Windows"
Run cargo test

Output:

running 2 tests
test read_delta_2_0_table_without_version ... ok
test read_delta_2_0_table_with_version ... FAILED

---- read_delta_2_0_table_with_version stdout ----
thread 'read_delta_2_0_table_with_version' panicked at 'assertion failed: `(left == right)`
  left: `["part-00000-7c2deba3-1994-4fb8-bc07-d46c948aa415-c000.snappy.parquet", "part-00001-c373a5bd-85f0-4758-815e

[2020-12-11 21:39] rtyler commented on #39
I had spun up a dev windows instance a couple weeks ago, I'll take a crack at this sometime soon

[2020-12-12 02:28] rtyler commented on #39
Alright, I've got a VM where I have reproduced this failure. Will have a fix in the next available free timeslot :laughing:

[2020-12-12 04:56] rtyler opened #40 "DeltaTable likely not handling log_path in a platform-safe manner"
Lots of DeltaTable code is doing a primitive "join" (e.g. `format!("{}/{}", log_path, other)`) when creating paths. In the cases where this path is going to be a file system path, this isn't a safe way to create paths.

@houqp I think we're going to have to find some way to handle these path creations better than just munging strings.

[2020-12-12 05:17] rtyler commented on #40
OOOOF, I think this is very much related to #39 `find_latest_check_point_for_version` is doing path regular expressions which are in no possible way going to work as expected on Windows :facepalm:

[2020-12-12 05:28] rtyler commented on #39
Alright, so #40 is the same issue as this. Basically the `find_latest_check_point_for_version` function is not identifying _any_ checkpoint file for version three of this table.

On Linux, it identifies this path as the checkpoint

`Ok(ObjectMeta { path: "./tests/data/delta-0.2.0/_delta_log/00000000000000000003.checkpoint.parquet", modified: 2020-10-30T18:57:13.473315930Z })`

On Windows this entr

[2020-12-12 07:39] houqp commented on #39
Yeah, `std::path::Components` combined with a simple string split on `.` on the last path component should do the trick. We don't need to use regex to parse out version and parts num from the path.

[2020-12-12 07:40] houqp commented on #40
yep, apparently the code was not written with windows in mind :P should replace with `std::path::Path`.

[2020-12-12 09:53] houqp commented on #40
having a second thought here. when using the azure or s3 backend in windows, do we get unix path or windows path returned from APIs? If it's consistent with native platform path, then we are good, otherwise, we might need to move all the path handling logic into file storage backend instead.

[2020-12-12 22:52] rtyler opened #41 "list_objs is likely going to be problematic with large buckets/directories"
The way `find_latest_check_point_for_version` is interacting with `list_objs` in a way that I *think* is going to be inefficient for a large storage bucket (think thousands of objects).

Right now `list_objs` is returning a stream of items in the bucket/directory and then `find_latest_check_point_for_version` will match against those results.

At least with the S3 `ListObjects` API, the caller can

[2020-12-12 23:12] rtyler opened #42 "S3 storage backend should take the region as a parameter"
Right now us-east-2 is hard-coded. Not sure what the right API will be here, but the region should be user-defined in some fashion

[2020-12-13 00:15] sd2k commented on #41
Azure Blob storage does have similar functionality, yep: https://docs.rs/azure_sdk_storage_blob/0.45.3/azure_sdk_storage_blob/container/requests/struct.ListBlobBuilder.html#method.with_prefix

[2020-12-13 18:59] houqp commented on #42
Based on the look up order in https://docs.rs/rusoto_credential/0.45.0/src/rusoto_credential/lib.rs.html#368-373, we can try to first read the region from `AWS_REGION` env var, if not found use https://docs.rs/rusoto_credential/0.45.0/rusoto_credential/struct.ProfileProvider.html#method.region_from_profile to load it from profile. And lastly throw an error if region cannot be resolved.

[2020-12-13 19:00] houqp commented on #42
I think this could be a useful feature to add to upstream trait: https://docs.rs/rusoto_credential/0.45.0/rusoto_credential/trait.ProvideAwsCredentials.html

[2020-12-13 19:38] sd2k opened #43 "Datafusion integration assumes table's data files are local"
The Datafusion integration passes a list of file paths representing a table's actual data to Datafusion's ParquetExec, but if the Delta table's StorageBackend is anything other than the FileStorageBackend then this fails because the files aren't local.

I'm not sure where this should be handled though - it feels like this should be part of Datafusion or an extension crate?

[2020-12-13 19:55] rtyler commented on #42
@houqp I was referring to [this line](https://github.com/delta-io/delta.rs/blob/main/rust/src/storage/s3.rs#L32) which I don't fully understand how the credentials interacts with that setting on the `S3Client`

[2020-12-13 22:02] houqp commented on #42
it uses https://docs.rs/rusoto_credential/0.45.0/rusoto_credential/struct.DefaultCredentialsProvider.html, which is basically chained provider. there is also a method that lets you override what provider to use: https://rusoto.github.io/rusoto/rusoto_s3/struct.S3Client.html

[2020-12-13 22:18] houqp commented on #43
Yeah, unfortunately, datafusion uses arrow parquet readers, which only supports local file at the moment: https://github.com/apache/arrow/blob/master/rust/datafusion/src/physical_plan/parquet.rs#L181. I think this is best handled by the rust parquet reader with minor adjustments to datafusion's execution plan after that.

@nevi-me has plans to add S3 support to the parquet reader. If you are inter

[2020-12-14 08:33] sd2k commented on #43
Makes sense to me!

Sounds good, I'll keep an eye on it and try and contribute an Azure reader when the time comes.

[2020-12-14 09:06] sd2k commented on #40
I've just tried running the E2E Azure test on Windows and it passes. The docs also state that the 'path' in the URI should be forward slash delimited: https://docs.microsoft.com/en-us/azure/storage/blobs/data-lake-storage-introduction-abfs-uri.

[2020-12-14 22:19] houqp commented on #40
Thanks @sd2k for the test! Then it looks like what we need to do is to extend the storage backend trait (https://github.com/apache/arrow/tree/master/rust/parquet) to add methods for path component join and split. Then only use use `std:path::Path` in file storage backend to accommodate for platform specific fs path.

[2020-12-16 07:53] nevi-me commented on #43
What could work in the interim is to use DataFusion's in-memory datasource (https://docs.rs/datafusion/2.0.0/datafusion/datasource/memory/index.html). When we have async-support on Parquet, then we can change to the relevant methods.

[2020-12-18 01:16] houqp opened #45 "read table and file stats"
collect and calculate table and file stats from transaction log actions and checkpoints

[2020-12-27 07:28] kevinglasson commented on #42
Should it just mimic the [S3Client API](https://rusoto.github.io/rusoto/rusoto_s3/struct.S3Client.html) API and have:

pub fn new(region: Region) -> S3Client

pub fn new_with<P, D>(
    request_dispatcher: D,
    credentials_provider: P,
    region: Region
) -> S3Client

?

[2020-12-27 08:09] kevinglasson commented on #41
Seems like this is the way to go. Should the table name be included as part of the filter in the event that there are multiple tables.

[2021-01-01 20:36] houqp commented on #42
@kevinglasson the code you pasted still requires users to manually specify a region and it is what we are using at the moment: https://github.com/delta-io/delta-rs/blob/main/rust/src/storage/s3.rs#L32.

The issue here is implementing a way to automatically resolve the region based on credential chain so it works just like other tools using AWS sdks.

[2021-01-02 07:38] kevinglasson commented on #42
@houqp ahh I think I misunderstood, sorry.

I personally think it makes sense for the user to have to specify the region when creating a storage backend, seeing as the bucket they're supposedly targeting should already exist.

However, if we wanted a default we could use [this](https://rusoto.github.io/rusoto/rusoto_core/region/enum.Region.html). It looks like the default implementation for `Regio

[2021-01-05 06:26] houqp commented on #45
partially fixed by https://github.com/delta-io/delta-rs/pull/51. the remaining work is to track and surface file stats through a public interface.

[2021-01-05 06:32] houqp commented on #42
good call @kevinglasson , i was not aware of that `Region::default()` magic :D This is exactly what we need. Since you already wrote the patch in markdown, do you mind converting it to a PR? Just don't forget to also update `get_backend_for_uri` ;)

[2021-01-05 09:28] kevinglasson commented on #42
Sure thing, thanks for the tip!

[2021-01-05 12:28] kevinglasson commented on #42
So I looked in to updating `get_backend_for_uri`

According to [AWS' docs](https://docs.aws.amazon.com/AmazonS3/latest/dev/UsingBucket.html) in the **Accessing a bucket** section it states that the `s3://...` style URI does not contain the region so we can't actually extract a specific region from the URI to create an `S3Client` with.

It's also important to note that s3 bucket names are **globall

[2021-01-05 19:45] #42 closed

[2021-01-06 09:20] GBBBAS opened #54 "PyDeltaTableError: Invalid action record found in log: Invalid action field: Unexpected field name for add action: partitionValues_parsed"
I'm getting the below error when trying to read a delta table from ADLS Gen 2:
`PyDeltaTableError: Invalid action record found in log: Invalid action field: Unexpected field name for add action: partitionValues_parsed`

When I try and read the delta table using spark sql, I have no issues. Any ideas what could be causing this?

[2021-01-06 16:41] rtyler commented on #54
Thanks for trying the python bindings out @GBBBAS!

For whoever takes a look at this, delta-rs might not be parsing the [checkpoint format](https://github.com/delta-io/delta/blob/master/PROTOCOL.md#checkpoint-format) properly.

@GBBBAS how was the delta table generated?  I wonder if there is some Delta functionality that's being used in the generation which our test cases currently do not cover.

[2021-01-06 16:51] GBBBAS commented on #54
@rtyler The table was created using pyspark on a v7.4 Databricks Runtime Cluster

[2021-01-06 19:00] houqp commented on #54
looks like write stats as struct is new and added to the spec 4 months ago. the test data are prepared way before that.

but it should be pretty straight forward to add support for it.

[2021-01-06 19:07] houqp opened #55 "integrate golden test data into tests"
we need to follow up on https://groups.google.com/g/delta-users/c/-H2Tlqatj-M/m/yo5DUymuAQAJ

[2021-01-06 21:09] nevi-me commented on #55
Would adding the connectors repo as a submodule, be excessive?

[2021-01-06 21:16] houqp commented on #55
I think that will work if we can't get a standalone test data repo created in time.

[2021-01-08 06:16] dineshvelmuruga opened #56 "DeltaTable support for GCS"
Can I read DeltaTable that resides in GCS like below

dt = DeltaTable("gs://<path>")

[2021-01-08 06:18] houqp commented on #56
GCS is not supported at the moment, but it should be pretty straight forward to add this feature. You can check out the code that implements s3 and azure backends: https://github.com/delta-io/delta-rs/blob/main/rust/src/storage/s3.rs, https://github.com/delta-io/delta-rs/blob/main/rust/src/storage/azure.rs

[2021-01-08 07:11] dineshvelmuruga commented on #56
Any enhancement planned for GCS? Because it would be quite good to have

[2021-01-08 14:23] nevi-me commented on #56
What crate do you use to access GCS object storage?

[2021-01-09 23:31] rtyler opened #58 "Cannot build on rust 1.46"
This is an error I saw on a Linux/amd64 machine while building the rust bindings. My guess is we just need to document the right version of the compiler and toolchain we should be relying upon

[code]

[2021-01-09 23:34] rtyler opened #59 "WebPKIError when running azure test code"
As of my current tree (`40443d6390674092b8763cbeba1b1b03144f446c`) it seems that the azure tests cannot properly work locally, but they continue to work fine (seemingly) in CI. I'm wondering if there's something magic about the tests passing in CI since they're technically running within Azure via GitHub Actions already.

## Error
[code]

## Environment

[code]

[2021-01-09 23:55] rtyler opened #60 "Expected layout and structure of Azure storage accounts should be documented"
In order to use Delta Lake and Azure, the library expects the storage account to be configured with Azure Delta Lake Service Gen2 enabled, which is a non-default setting.

Some README or user-guide type documentation on how a Delta Table(s) should look in Azure, including the Azure configuration, would be beneficial for us to include!

[2021-01-09 23:57] rtyler commented on #36
With #57 I'm already the point of contact for the Azure storage binding. I can probably just do the same with my neglected AWS account :smile_cat:

[2021-01-10 05:13] houqp commented on #36
i was thinking of setting up mino, but if we can get a real public s3 bucket setup, that's even better.

[2021-01-10 20:59] rtyler opened #62 "Trailing slashes cause S3 binding to throw NotATable"
The difference between `deltalake::open_table("s3://mybucket/path/")` and `deltalake::open_table("s3://mybucket/path")` is that the former throws an error, the latter succeeds.

IMHO Delta-rs shouldn't be so silly about redundant slashes.

[2021-01-10 22:51] #36 closed

[2021-01-11 00:16] #54 closed

[2021-01-16 16:47] fvaleye opened #69 "Call to DeltaTable from Python"
Hello guys,

I am using `delta-rs` from Python and it seems that calling `DeltaTable()` blocks after calling it once.
I tested with DeltaTable on AWS S3.

**Context information:**
[code]

**Scenario:**
[code]

The first call to `DeltaTable()` with `files()` worked and the files are printed. But on the second call, it blocks my application.
I tried to use it without the loop, with sequential calls,

[2021-01-16 18:50] rtyler commented on #69
I was able to quickly reproduce this, it has nothing to do with multiple tables, doing an iteration across a list with the same bucket hangs on the second iteration as well.

[code]

@houqp  I have a feeling that there is something that's not being properly deallocated here. I would write a proper integration test, but I cannot get pyo3 to build on my local (openSUSE) machine :unamused:

[2021-01-16 18:57] rtyler commented on #69
My hunch is that the tokio runtime that's being created per DeltaTable object is not being dropped properly in the iteration.

[2021-01-16 22:30] #55 closed

[2021-01-17 15:06] danielhaviv opened #72 "File not found exception for a delta table stored on cloud storage"
Passing a list of files to pyarrow.dataset.dataset is treated as a list of local files, quoting the [docs](https://arrow.apache.org/docs/python/generated/pyarrow.dataset.dataset.html#pyarrow.dataset.dataset):
[code]

Reading tables off of cloud storage fails with a file not found exception.
To fix this, `dataset` should be called with the filesystem parameter and the file paths should be only the

[2021-01-17 17:44] martindut opened #74 "FileNotFoundError"
Hi. I run the following code to open an delta table on Azure Datalake Gen 2

`python

from deltalake import DeltaTable
import os
os.environ['AZURE_STORAGE_ACCOUNT'] = 'xxxxxx'
os.environ['AZURE_STORAGE_KEY'] = 'xxxxxxxxxxxxxxxxx'

dt = DeltaTable("abfss://xxxxxxxx@xxxxxxx.dfs.core.windows.net/delta/silver/rawdata/holdings/taxhld/v1.0")

dt.version()
dt.files()
dt.file_paths()
`
This all works fine

[2021-01-17 20:10] houqp commented on #74
looks like a duplicate to #72, should be fixed by #73.

[2021-01-17 21:25] #72 closed

[2021-01-18 08:15] houqp commented on #40
as a note for implementer, https://github.com/delta-io/delta-rs/blob/main/rust/src/delta.rs#L497 also needs to be updated to stop using platform specific `Path`.

[2021-01-18 08:39] danielhaviv opened #77 "Expose schema API in python binding"
Does the reader use the Parquet files' metadata to infer the schema?
If so, relying on the Delta log that could improve performance for operations that require the schema (especially when there are a lot of files involved).

[2021-01-18 19:53] #69 closed

[2021-01-18 20:05] houqp commented on #77
We are already reading schema from delta transaction log, see https://github.com/delta-io/delta-rs/blob/main/rust/src/delta.rs#L232. schemas from parquet itself are ignored. Are you experiencing any performance issue with regards to schema handling?

[2021-01-18 20:06] houqp commented on #74
@martindut fix as been merged into master, please reopen if you are still experiencing this issue with 0.2.1 release in PyPI.

[2021-01-18 20:06] #74 closed

[2021-01-19 08:36] martindut commented on #74
@houqp , now I'm getting this error if I run df = dt.to_pyarrow_table():
`Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/usr/local/lib/python3.8/site-packages/deltalake/__init__.py", line 38, in to_pyarrow_table
    return self.to_pyarrow_dataset().to_table()
  File "/usr/local/lib/python3.8/site-packages/deltalake/__init__.py", line 33, in to_pyarrow_dataset

[2021-01-19 16:50] rtyler commented on #74
@martindut I think our integration tests aren't covering the use of pyarrow and the Azure storage engine. Would you mind opening a new issue with some details?

[2021-01-20 07:04] #62 closed

[2021-01-21 06:16] danielhaviv commented on #77
Haven't run it in scale yet, but issue #72 came up when I was only trying to get the schema back, meaning that it had to access the files to return the schema (it might have done nothing with them, but they were still accessed).

[2021-01-21 17:20] houqp commented on #77
#72 is a bug related to pyarrow integration. That part of the code runs after we loaded the transaction log and schema from delta table. If you are using the python binding, then we don't have the schema rust api (https://github.com/delta-io/delta-rs/blob/main/rust/src/delta.rs#L519-L524) exposed yet, which is probably why you had to do the pyarrow table conversion first. For pyarrow internally go

[2021-02-01 20:58] #39 closed

[2021-02-01 21:01] houqp commented on #40
@fvaleye just saw my note in this PR, looks like we missed `get_file_paths` in your refactoring :)

[2021-02-01 21:09] houqp opened #82 "race condition in s3 tests"
Our S3 test is failing randomly at the moment. Based on my quick glance, the specific error message we are getting is usually caused by access of global hyper client from multiple threads. However, that doesn't seem to be the case for us because we are not using a global S3 client. Perhaps rusoto is doing something funny with hyper? One thing I noticed is if I only run one of the S3 tests, it pass

[2021-02-02 07:23] fvaleye commented on #40
It seems that I forgot to include this in my PR. Thank you for noticing it, I will submit another PR for refactoring this :)

[2021-02-03 12:50] fvaleye commented on #56
I didn't find any crate available for interacting with GCS... do you have something in mind @houqp?

[2021-02-08 21:35] xianwill commented on #82
@houqp - I spent a few minutes to to look into this, and as per your theory, rusoto does seem to use [a shared singleton hyper client](https://github.com/rusoto/rusoto/blob/master/rusoto/core/src/client.rs#L28) as per your mentioned theory.

I'm not sure how we might accommodate/work-around this, or if this might be the final nail (in addition to the announcement that  [rusoto is in maintenance mo

[2021-02-15 20:48] houqp commented on #77
https://docs.rs/pyo3/0.13.2/pyo3/conversion/trait.ToPyObject.html trait should help make this conversion a lot easier to maintain for us.

[2021-02-16 21:52] xianwill commented on #82
@houqp + @rtyler - I have submitted https://github.com/delta-io/delta-rs/pull/87 as a workaround for CI. I do still have concerns for multi-threaded processes using delta-rs that might experience the same problem. For now, this is a lo-pro issue aside from CI from my perspective since I expect to only have a single S3 writer thread per-process for my production use case.

[2021-02-16 22:33] houqp commented on #82
relevant upstream bug report: https://github.com/rusoto/rusoto/issues/1467

[2021-02-24 17:38] fvaleye opened #91 "Handle the decimal data type in the arrow format conversion"
When the delta table has a `decimal(_,_)` column type, it is not handled by the ArrowSchema conversion (https://github.com/delta-io/delta-rs/blob/main/rust/src/delta_arrow.rs#L42). We could use pattern matching for extracting precision and scale for generating an `ArrowDataType::Decimal(_,_)` value.

[2021-02-24 18:28] houqp commented on #91
Yep, that's a good idea :+1:

[2021-02-25 17:38] xianwill commented on #82
@houqp - since CI is resolved by https://github.com/delta-io/delta-rs/pull/87, should we resolve this issue or keep it open for upstream changes in https://github.com/rusoto/rusoto/issues/1467?

[2021-02-25 17:49] #82 closed

[2021-02-26 06:59] houqp opened #93 "Get rid of panics and unwraps in Delta Schema to Arrow Schema conversion code"
To remove all panics and unwraps, we need to change the `Try` trait implementation to `TryFrom` trait so we can propagate the error back to caller through Result.

[2021-02-28 02:32] houqp opened #94 "Transaction log commit with filesystem storage backend is not atomic"
We should write out the new transaction log into a temporary file first, then use atomic file rename to create the new transaction log instead. Current implementation writes directly to the new transaction log path, which could lead to log corruption if process crashes before completing the write.

[2021-02-28 08:23] fvaleye opened #95 "Create and bind Delta Schema structures with pyo3 for Python."
Currently, we use a `JSON` string for binding Rust and Python for reading the Delta table schema. The improvement is to create and use pyo3 structure in Rust for binding the Schema.

[2021-02-28 09:16] #77 closed

[2021-02-28 09:17] houqp commented on #77
Thanks to @fvaleye, DeltaTable object now has `schema` and `arrow_schema` methods.

[2021-02-28 09:53] danielhaviv commented on #77
Awesome, thanks @fvaleye.

[2021-02-28 23:39] houqp commented on #95
I am thinking of releasing a new version of the python binding, @fvaleye do you want me to wait for this before doing the release?

[2021-03-01 06:30] fvaleye commented on #95
It's a good idea to release a new version 👍 I will take some time in the next weeks to work on it. In the mean time, the bindings for the schema will be available.

[2021-03-01 14:12] xianwill opened #97 "Implement vacuum command"
delta-rs should have a "vacuum table" utility analogous to the one provided by the [open source Spark Delta Lake implementation](https://docs.delta.io/latest/delta-utility.html#remove-files-no-longer-referenced-by-a-delta-table). This utility is useful for cleaning up old files that are no longer referenced by the delta log (e.g. files rewritten by merge statements, optimize command etc.).

See th

[2021-03-01 18:52] xianwill opened #98 "Implement optimize command"
Databricks delta lake provides an [optimize command](https://docs.databricks.com/spark/latest/spark-sql/language-manual/delta-optimize.html) that is incredibly useful for compacting small files (especially for files written by streaming jobs which are inevitably small). delta-rs should provide a similar optimize command.

I think a first pass could ignore the bin-pack and zorder features provided

[2021-03-02 17:36] houqp opened #101 "Support metadata action without schemaString defined"
For some of the golden test table in connectors do not have schemaString field defined in metadata. Here is an example: `connectors/golden-tables/src/test/resources/golden/canonicalized-paths-normal-a`.

[2021-03-02 21:36] fvaleye commented on #91
It is resolved by #92, I close the issue!

[2021-03-02 21:36] #91 closed

[2021-03-03 08:54] mosyp opened #103 "StorageError::NotFound is not returned by head_obj on missing object"
`StorageError::NotFound` error is not produced by error handlers https://github.com/delta-io/delta-rs/blob/main/rust/src/storage/mod.rs#L222 due to upstream issue https://github.com/rusoto/rusoto/issues/716 where `HeadObjectError::NoSuchKey` is not returned as expected for missing object.

I reproduced issue only with `head_obj` call. It seems that rusoto tries to parse response body for HEAD call

[2021-03-03 18:14] #103 closed

[2021-03-03 20:10] xianwill opened #106 "Implement delta log checkpointing"
JSON delta log entries should be consolidated into a parquet snapshot periodically so that log readers can deserialize the log quickly. The spark delta reference implementation [consolidates json log entries into parquet checkpoint snapshots](https://github.com/delta-io/delta/blob/7899c47dd6594128d80db341bcb8d89ef62a9b78/src/main/scala/org/apache/spark/sql/delta/Checkpoints.scala) after every 10th

[2021-03-08 05:19] #93 closed

[2021-03-09 22:57] houqp commented on #41
We are already using prefix to restrict directory listing to `table_path/_delta_log` folder. It's a bit harder to filter with prefix for objects within that directory since we don't know what the prefix should be for individual commit log entries.

@kevinglasson table name is part of `table_path`, so this should have already been covered for both s3 and azure blob storage.

[2021-03-12 05:21] houqp opened #118 "Add high level read API to return file content as stream of bytes"
This makes it easier for downstream client to load table content because they won't need to write specific code for each storage backend.

[2021-03-12 13:43] malonsocasas opened #121 "Small bug on Schema json method"
In Schema class, the `json` method is returning wrong attribute:
[code]

Maybe add a test:
[code]

[2021-03-12 13:52] fvaleye commented on #121
Good catch! 👍

This PR fix the problem: https://github.com/delta-io/delta-rs/pull/122

[2021-03-12 17:37] fvaleye commented on #121
Since PR #122 is merged, I close the issue

[2021-03-12 17:37] #121 closed

[2021-03-12 18:06] houqp commented on #121
@fvaleye do you want to try doing a python binding release? we just need to bump the version in python cargo.toml, then create a new github release with tag `python-vx.x.x` to trigger the release pipeline once the commit is merged into main.

[2021-03-14 13:35] dispanser opened #123 "Unexpected behavior in `update()`"
I believe there's a subtle bug in the `update()` method, and how it decides on
either loading from a checkpoint or applying the log from json files.

Here's the important bits:

[code]

What this is doing is
- load from checkpoint if new checkpoint is the same as previously used checkpoint
- if the new checkpoint is different, don't use it but instead apply the json deltas.

I believe what we want

[2021-03-14 19:43] houqp commented on #123
Good catch @dispanser

[2021-03-14 20:19] #123 closed

[2021-03-14 20:24] houqp opened #125 "avoid loading checkpoints created for older versions"
Follow up from https://github.com/delta-io/delta-rs/pull/124.

Since transaction version commit and checkpointing are not transactional, newer transaction versions can become visible to readers before a checkpoint is created. When we are reloading table from source, we could also compare current in memory table version with the version from a new latest checkpoint, if current in memory version is

[2021-03-14 20:26] houqp commented on #123
Thanks @dispanser for the detailed analysis log :)

[2021-03-15 13:53] xianwill commented on #123
@dispanser - re:

the status of write support (and checkpointing in particular)

Status of write support is very early (we just have the bits you've seen already regarding the transaction log so far), and checkpointing is not implemented at all yet. See https://github.com/delta-io/delta-rs/issues/106 for the issue tracking checkpointing.

[2021-03-15 19:36] dispanser opened #127 "Duplicate files after update"
Hi,

After playing with the `update()` function for #124 I noticed that the number of files in one of my test runs was off.

I was able to reproduce the behavior in my [branch](https://github.com/delta-io/delta-rs/compare/main...dispanser:duplicate-files-after-update). The test loads version 0 of a data set, and then updates to the newest version. The expected outcome is that `get_files()` produce

[2021-03-15 21:39] houqp commented on #127
Yes, checkpoints should only be restored on an empty table because it contains all historical commits. To be extra safe, I think we should just clear table state within `restore_checkpoint`.

[2021-03-16 18:16] dispanser commented on #127
looking at `struct DeltaTable`, would it be sufficient to clean:
- `tombstones`
- `files`
- `commit_infos`

The following fields should contain an entry in the checkpoint so they are always overwritten when loading a checkpoint:
- `current_metadata`
- `min_reader_version`
- `min_writer_version`
- `last_check_point` (overwritten directly by `update`)

I'm a bit unsure about `app_transaction_version

[2021-03-16 18:45] dispanser commented on #125
I have some concerns with the general strategy of always using a check point when it exists. In my day job, one particular streaming sink has checkpoints of size 500MB, whereas each individual commit is about 30kb of json data. In such a case, loading a few dozen json files can be a lot quicker, especially when the i/o backend requests them in a concurrent / non-blocking fashion.

A minimum implem

[2021-03-16 20:33] houqp commented on #127
`app_transaction_version` needs to be cleared as well since it's also populated from transaction actions.

Perhaps to make the code easier to maintain, we can create a new `DeltaTableState` struct to host all these in memory states and store it as a single field in `DeltaTable`. Then upon checkpoint restore, we can just reassign this field with `DeltaTableState::default()`.

[2021-03-16 20:41] houqp opened #128 "Default to avoid checkpoint restore in update method"
Follow up for https://github.com/delta-io/delta-rs/issues/125#issuecomment-800516633.

When pulling in table updates, It would be more efficient to just load all the all the new versions commit by commit instead of rebuilding the state from the latest checkpoints. Checkpoints are mostly useful for bootstrapping purpose. Running tables are usually not too far behind from the latest commits.

[2021-03-16 20:42] houqp commented on #125
@dispanser good call, I filed #128 to track this.

[2021-03-16 20:46] houqp commented on #128
Quote from #125:

I think this could be useful for optimizing performance on edge-cases where running tables fall far behind on commits. But we should probably work on it as a separate task have it implemented as a separate advanced interface to keep the common case `update` method simple.

[2021-03-16 22:50] houqp commented on #41
closing this ticket since I believe we are already leveraging prefix listing as efficient as we could.

[2021-03-16 22:50] #41 closed

[2021-03-16 22:55] houqp commented on #56
Maybe this one? https://docs.rs/google-storage1/1.0.14+20200623/google_storage1/index.html.

[2021-03-17 22:23] houqp commented on #127
@dispanser should we assign this issue to you? If not, I can pick it up, just wanted to make sure someone is working on this ;)

[2021-03-18 06:18] dispanser commented on #127
I'd love to. If you can wait til weekend, that is ;)

[2021-03-18 07:56] houqp commented on #127
alright, issue assigned to you :)

[2021-03-18 13:52] xianwill opened #133 "Handle commitInfo action"
This is likely a low priority issue, but is mentioned in the [TODO list](https://github.com/delta-io/delta-rs/blob/8efd96a7202dc7eebdc435dba86dbc51d67854f9/TODO#L1) and is an aspect of the delta log protocol that is not yet implemented in delta-rs. As described in the protocol doc, [commit provenance information](https://github.com/delta-io/delta/blob/331c2af50dc3a2746f72f58cb896a5459caebff1/PROTO

[2021-03-18 15:13] xianwill opened #135 "Implement rename_obj (atomic rename) API in storage backend"
As discussed in https://github.com/delta-io/delta-rs/discussions/89, for multi-writer support, the S3 storage backend requires an atomic rename operation that uses a distributed lock lease to ensure that log files are not overwritten by other writers.

Ultimately, the high-level logic of a `DeltaTransaction` commit should abstract over storage backends and look like:

[code]

Usage of the distribu

[2021-03-18 16:39] #94 closed

[2021-03-18 16:43] houqp commented on #135
As a side note for implementation, it looks like we need two types of consistency guarantees where:

1. for creating the temp object, we need put if not exists
2. for renaming the temp object, we need rename if not exists

[2021-03-19 21:58] #127 closed

[2021-03-20 07:26] dispanser opened #141 "Separating the log from the state"
In the current architecture, the concepts of the delta table and the delta log are available in one single abstraction, `DeltaTable`. To update to the newest state, one can call `update()` and the table state follows accordingly.

However, I can see several use cases, mostly around stream processing, that are not actually interested in the current table state, but instead in the stream of changes.

[2021-03-20 20:13] houqp opened #142 "Investigate whether fsync system call is needed for fs backend atomic rename operation"
Rumor has that on Linux one needs to call fsync after temp file has been written out first before calling rename syscall, otherwise we could end up with an empty file in the new location during system crashes.

[2021-03-20 20:49] houqp commented on #141
I think that's a good idea for read only streaming use-case :) The log stream abstraction can expose both pull and push based interfaces. Then the existing DeltaTable implementation can be refactored into a pull based consumer and read-only streaming consumers can use the push interface to react to new log entries in near realtime.

[2021-03-20 23:18] #20 closed

[2021-03-21 20:48] houqp opened #143 "use renameat2 symbol exported from official libc crate"
Now that renameat2 has been added to the official libc crate, we can use that instead of declaring our own in fs backend's rename module. Follow up on this discussion https://github.com/delta-io/delta-rs/pull/140/files/98c1d9181249f83790719ad28ccb33ecbdb4cd74#r598330852.

[2021-03-22 10:17] lucienfregosi opened #144 "to_pyarrow_table() should use full schema provided by delta table"
Hi

First of all thanks for your work on delta RS this package is super useful for our work and our team led by @fvaleye 👍

We have an issue using the function `to_pyarrow_table()`

`DeltaTable(table_path).to_pyarrow_table()` returns the dataset but with an incomplete schema, we miss one column which is definitely in one ouf our parquet files.

Using `DeltaTable(table_path).schema()` we got the co

[2021-03-22 10:56] lucienfregosi opened #145 "Deltalake 0.4.3 (and 0.4.2) breaks our CI"
Hi Again :)

We tried to upgrade our base code with deltalake 0.4.3 (also with 0.4.2) but we got an error during our CI process (when launching unit tests).

The error is
`dags/utils/delta_lake_utils.py:4: in <module>
    from deltalake import DeltaTable, Schema
../../../virtualenv/python3.7.1/lib/python3.7/site-packages/deltalake/__init__.py:1: in <module>
    from .deltalake import RawDeltaTable

[2021-03-22 17:58] houqp commented on #144
How are you getting the schema using `DeltaTable(table_path).to_pyarrow_table()`? Are you using the builtin pyarrow schema method? If so, it infers the schema from parquet data, which is not guaranteed to be the same as the schema defined for the delta table through the transaction log. Could you double check those parquet files to see if that particular column exists and contains valid data?

[2021-03-22 18:13] houqp commented on #145
double checked the manylinux spec, looks like it does use a very old version of glibc: https://www.python.org/dev/peps/pep-0571/.

I am going to yank that release out of pypi until we lands a fallback for other linux kernel/userspace configurations.

[2021-03-22 18:17] houqp opened #146 "Run python binding tests in manylinux envirionment"
We should run tests in the environment that our abi3 wheels targets.

[2021-03-22 20:36] dispanser commented on #141
A pull-based interface would probably be good enough as a start. With a push-based interface, someone has to poll the underlying file system anyway (assuming something like `inotify` is not practical for cloud-based storage backends), and I would leave that to the consumer.

I'll play with this idea a bit to see if it leads anywhere.

[2021-03-22 22:17] fvaleye commented on #145
The CI was using using `Ubuntu 16.04 LTS` distribution by default.
[glibc](https://packages.ubuntu.com/fr/source/xenial/glibc) version is `2.23`

We changed the distribution to `Ubuntu 20.04.2 LTS` and it is working fine!
[glibc](https://packages.ubuntu.com/fr/source/focal/glibc) version is `2.31`

[2021-03-22 23:04] houqp commented on #141
Just to make sure we are talking about pull/push at the same abstraction level. In my first comment, I was referring to pull and push interfaces at the application level. For example, a pull interface, or API if you prefer, means the application code needs to explicitly call `update` method to pull latest changes from the transaction log at its own pace. While a push interface would let the applic

[2021-03-23 05:07] houqp commented on #145
relevant discussion in the libc project on what's the minimal supported glibc version: https://github.com/rust-lang/libc/issues/1412. Right now they require >= 2.26, but has already added features that would only work for 2.27 and 2.28. `renameat2` is one of the feature that would only work for 2.28 even though we are not using the libc crate for syscall invocation at the moment.

[2021-03-23 08:14] lucienfregosi commented on #145
All good with ubuntu 20.04 :)
We can close the issue I guess !

[2021-03-23 08:36] lucienfregosi commented on #144
I'm getting the schema with simply printing the pyarrow table `print(DeltaTable(table_path).to_pyarrow_table())`
This print displays the schema (without the new column)

I have double-checked with downloading my parquet file in S3 and inspecting it with parquet tools and the missing column is definitely there and the data seems valid.

[2021-03-23 10:48] boufleur opened #149 "Add support for more authentication schemas for Azure"
Currently the only way to authenticate against Azure is by providing accountname and/or key/sas token. For ADLS Gen2 with ACL enabled data lakes, we need also to authenticate by supplying service principals (Azure AD).
A good way of working would be to set env variables as follow:
* AZURE_STORAGE_AUTH_TYPE
* AZURE_STORAGE_SPN_CLIENT_ID
* AZURE_STORAGE_SPN_TENANT_ID
* AZURE_STORAGE_SPN_CLIENT_SECRE

[2021-03-23 12:39] jeisinge commented on #145
FYI - I'm seeing a similar issue on Databricks Runtime 7.6.

[2021-03-23 17:04] houqp commented on #145
@jeisinge will be fixed with a new release after #148, hopefully by end of tomorrow.

[2021-03-23 17:05] houqp commented on #145
As a workaround for now, please manually install a version lower than 0.4.2

[2021-03-23 19:43] houqp commented on #144
that's interesting, @lucienfregosi could you try loading that single parquet file with pyarrow and print the loaded pyarrow table to see if that particular column shows up in the output?

[2021-03-23 20:39] #145 closed

[2021-03-23 20:41] #146 closed

[2021-03-24 17:16] rtyler opened #152 "Allow writers to add arbitrary commitInfo data for transactions"
[The spec](https://github.com/delta-io/delta/blob/master/PROTOCOL.md#commit-provenance-information) allows for data writers to insert arbitrary data which can be useful for understanding where or why a transaction occurred. This would be great to expose to the `DeltaTransaction` writer code such that a caller can supply their own `serde_json::Value`  (map) of JSON that can be addied into the trans

[2021-03-24 17:19] rtyler commented on #133
Closing the dupe I just created in #152

This would be great to expose to the `DeltaTransaction` writer code such that a caller can supply their own `serde_json::Value`  (map) of JSON that can be addied into the transaction log.

The use-case I have in mind for this is to enable improved auditability of transactions, for example [kafka-delta-ingest](https://github.com/delta-io/kafka-delta-ingest)

[2021-03-24 17:20] rtyler commented on #152
Closing as a dupe of #133, oops.

[2021-03-24 17:20] #152 closed

[2021-03-24 20:25] houqp opened #154 "Create sphinx doc for Python binding"
At the very minimum, we should have a doc that list all the available APIs in the python binding

[2021-03-24 20:27] houqp opened #155 "Enforce rustdoc for public interfaces"
We should enforce `missing_doc` rule for our rust code base to make sure all public interfaces are documented. Before we can turn that linter rule on for future PRs, we need to make sure existing public interfaces are documented first.

[2021-03-25 09:51] lucienfregosi commented on #144
I tried in 2 distinct way to load the single parquet files
`pandas.read_parquet('<file_path>.parquet', engine='pyarrow')`
`pyarrow.parquet.ParquetFile("<file_path>.parquet")`

And I always retrieve the missing column when I print the data with pyarrow !

[2021-03-25 15:41] houqp commented on #144
So perhaps this is a bug in pyarrow dataset module, which is what we used in our python binding: https://github.com/delta-io/delta-rs/blob/main/python/deltalake/table.py#L42.

Can you give the following a try to verify it?

[code]

[2021-03-25 17:17] lucienfregosi commented on #144
Same result I got the column with pyarrow dataset as expected

Just to give as context as I can
We have multiple files in S3 like
- year=2021/month=3/day=2/parquet1.parquet
- year=2021/month=3/day=3/parquet2.parquet
- year=2021/month=3/day=4/parquet3.parquet
- year=2021/month=3/day=5/parquet4.parquet => the new columns is here parquet4.parquet

And then read the delta table for retrieve the data
`

[2021-03-25 17:26] houqp commented on #144
Perhaps the dataset module only uses the first parquet file from the list to infer the schema. Could you give the following code a try?

[code]

[2021-03-26 08:23] lucienfregosi commented on #144
Indeed
When this code snippet I don't have the column.
It seems that the dataset module only uses the first parquet for inferring the schema

[2021-03-26 08:25] lucienfregosi commented on #144
And with this code
`d = ds.dataset([
    "parquet4.parquet",
    "parque1.parquet",
], format="parquet")
print(d.schema)`

it shows the missing column as pyarrow seems to use the first parquet for the schema

[2021-03-26 17:22] houqp commented on #144
Nice, worth filing an upstream bug issue for this I think.

I think for delta table specifically, we can do better here. Since we now have the delta table schema method (thanks to @fvaleye ), we can manually override the schema using the one defined in the delta table when creating the pyarrow dataset instead of letting pyarrow doing the schema inference.

[2021-03-27 04:39] houqp commented on #144
@lucienfregosi looks like pyarrow's dataset constructor does take the schema argument: https://arrow.apache.org/docs/python/generated/pyarrow.dataset.dataset.html#pyarrow.dataset.dataset. Could you try passing in the delta table schema into the constructor within the `to_pyarrow_table` method when constructing the dataset?

[2021-03-27 23:21] houqp opened #163 "Support minio and other S3 API compatible services"
# Description

To support S3 compatible services like minio, we need to provide a way for users to specify custom endpoint url through environment variables or other means.

https://docs.rs/rusoto_core/0.46.0/rusoto_core/enum.Region.html#aws-compatible-services has the example on how this can be done by setting a custom region object when initiating the S3 client.

https://github.com/delta-io/delt

[2021-03-28 05:16] #143 closed

[2021-03-28 05:19] houqp opened #165 "Fix S3 tests failures"
Currently S3 tests are broken due to invalid S3 credentials, which is breaking our CI runs and blocking pythonbinding release. We may want to switch to localstack or minio for S3 integration tests instead so it's easier for the community to jump in and fix stuff if anything breaks or new test data need to be added.

[2021-03-28 18:25] #144 closed

[2021-03-29 19:52] #163 closed

[2021-03-30 05:33] rtyler opened #172 "Investigate atomic rename failure on Linux/aarch64"
My hunch is that this is related to our glibc crate that we're depending on nowadays.

[code]

[2021-03-30 12:04] mosyp commented on #165
➕ on localstack since it allows dynamodb integration too

[2021-03-30 12:10] mosyp commented on #172
It is caused by the fact that `/tmp` is on another device to the current working dir.

[code]

I feel like this might be fixed by changing it to:
[code]

so `not_exists` would be on the same drive

[2021-03-30 12:19] mosyp commented on #172
@rtyler Please verify that `/tmp/` is mounted on other device.

That might be
[code]

@houqp I feel like we should add also a flag to the error mapping, because `Invalid cross-device link` might not be enough, having it as `EXDEV: Invalid cross-device link` would make debug easier

[2021-03-30 12:21] mosyp commented on #172
(btw, this is the main reason why we store tmp file within table dir, but not in `/tmp`, since we cannot guarantee that it is not mounted)

[2021-03-30 16:13] rtyler commented on #172
Yes this is a different device, I think it's _relatively_ common for some non-Debian based distributions to use `tmpfs` for `/tmp`

[code]

[2021-03-31 01:10] houqp commented on #172
@mosyp yep, we should either change the `not_exists` file path to tmp dir or change current working dir to temp dir within the test.

I am just surprised that the kernel would check the mount points for both paths first, I was expecting it to check the source path and error out immediately without proceeding to validate the mount points for both directories :P

[2021-03-31 17:32] houqp opened #176 "Setup global state mutation setup functions for tests"
# Description

**Use Case**

Some of the tests require global state mutation as part of the setup. It would be better to perform these actions in a global setup routine. This is not something that Rust/Cargo supports out of the box, so we need to do some research here.

**Related Issue(s)**

See https://github.com/delta-io/delta-rs/pull/175#discussion_r605042686

[2021-04-01 17:19] mosyp opened #179 "Link to golden dataset instead of copying it"
# Description

Currently we copy only single table from [golden dataset](https://github.com/delta-io/connectors/tree/master/golden-tables/src/test/resources/golden) and use it in tests. Eventually it'd make sense to use every table from golden dataset and either use a git submodule or separate repo to link into it

Please see a discussion in https://github.com/delta-io/delta-rs/pull/175#discussion

[2021-04-01 17:50] #165 closed

[2021-04-04 22:59] #172 closed

[2021-04-05 13:02] kesavkolla commented on #163
Can we get a new Python release with this fix?

[2021-04-05 15:55] fvaleye commented on #163
Hello @kesavkolla,

The new release of the Python bindings `0.4.5` will include this fix!

[2021-04-06 17:13] houqp opened #186 "Move dynmodb lock into its own crate"
# Description

Once we are running it in production, we should refactor it into a standalone code.

This is a very useful piece of code to be shared with the rest of the community. We should even blog about it if we have time to do that.

[2021-04-09 17:27] #154 closed

[2021-04-11 20:30] pitshou opened #188 "Can't install deltalake on Amazon Linux 2 on AWS"
# Description
Not able to install deltalake on Amazon Linux 2 on AWS. I have tried with different versions of python (2.7, 3.7 and 3.8.5) and it is failing. Even though there are no requirements from the project I see that pyarrow can't be installed. Below the logs

Collecting deltalake
  1 location(s) to search for versions of deltalake:
  * https://pypi.python.org/simple/deltalake/
  Getting pag

[2021-04-11 20:46] pitshou opened #189 "Specify minimal supported pip version"
#Environment

Not able to install deltalake on Amazon Linux 2 on AWS. I have tried with different versions of python (2.7, 3.7 and 3.8.5) and it is failing. Even though there are no requirements from the project I see that pyarrow can't be installed. Below the logs

Collecting deltalake
1 location(s) to search for versions of deltalake:

**Delta-rs version**:

**Binding**:

**Environment**:
- **Cl

[2021-04-12 00:09] houqp commented on #188
duplicate of https://github.com/delta-io/delta-rs/issues/189

[2021-04-12 00:09] #188 closed

[2021-04-12 00:11] houqp commented on #189
@pitshou could you also the CPU architecture with us? Pasting the output from `uname -a` here should be good enough.

We support python version >= 3.6.

[2021-04-12 00:24] pitshou commented on #189
here the detail:

[ec2-user@ip-172-31-24-111 ~]$ uname -a
Linux ip-172-31-24-111.ec2.internal 4.14.225-169.362.amzn2.x86_64 #1 SMP Mon Mar 22 20:14:50 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux
[ec2-user@ip-172-31-24-111 ~]$

[2021-04-12 02:44] houqp commented on #189
I wonder if it's because amazon linux 2 is not compatible with manylinux 2010: https://www.python.org/dev/peps/pep-0571/#platform-detection-for-installers.

Could you share the following info?

* output from `python -c 'from distutils.util import get_platform; print(get_platform())'`
* output from `ldd --version`
* AMI id
* EC2 instance type

[2021-04-12 03:05] pitshou commented on #189
Okay, so basically what I was thinking as the errors are pointing to manylinux. However, I don't think this is related to the instance type, but please let me know if you can't reproduce it with a different instance type. Here is the AMI ami-0533f2ba8a1995cf9

[ec2-user@ip-172-31-24-111 ~]$ python -c 'from distutils.util import get_platform; print(get_platform())'
linux-x86_64
[ec2-user@ip-172-31-

[2021-04-12 03:25] houqp commented on #189
@pitshou one last ask before I try to reproduce with provided ami :)

Could you paste the output the following python code?

[code]

[2021-04-12 12:01] pitshou commented on #189
Here the output

[ec2-user@ip-172-31-24-111 ~]$ python3.7
Python 3.7.9 (default, Feb 18 2021, 03:10:35)
[GCC 7.3.1 20180712 (Red Hat 7.3.1-12)] on linux
Type "help", "copyright", "credits" or "license" for more information.

[('cp37', 'cp37m', 'manylinux1_x86_64'),
 ('cp37', 'cp37m', 'linux_x86_64'),
 ('cp37', 'abi3', 'manylinux1_x86_64'),
 ('cp37', 'abi3', 'linux_x86_64'),
 ('cp37', 'none', 'many

[2021-04-12 13:49] cristianoperez opened #190 "Support for Table metadata with python"
# Description
Adds the ability to retrieve Table metadata like description/comment, right now its only possible for columns

**Use Case**
I am developing a POC that reads the delta from s3 and saves it on Glue, the only missing feature is to save table comment/description to Glue because there's no way to retrieve that information using delta-rs

[code]

[2021-04-12 18:15] houqp commented on #190
This should be pretty straight forward to add using pyo3. If you are interested in doing some Rust hacking, we can help guide the process. Otherwise, we would need to wait for someone to claim the task since a lot of the contributors are busy working on s3 multi writer support.

[2021-04-12 18:44] fvaleye commented on #190
Hello @cristianoperez,

Thank you for your request!
I will look into it and get you updated.

[2021-04-12 19:35] houqp commented on #189
it's odd that it's showing manylinux1 but the system glibc version is fairly new :( we are only providing manylinux2010 wheels at the moment, which is already pretty old and already considered deprecated. I recommend trying a different distro while we look into the root cause.

[2021-04-12 19:41] pitshou commented on #189
okay no problem. Thanks for checking this

[2021-04-12 20:22] pitshou commented on #189
I think this page has all the reasons for this. It depends on the version of pip. All the pip versions prior to 19.0 will have manylinux1.

I think you need to put a requirement for deltalake to ask users to have the right version before installing. I was able to get it after installing the right version of pip

https://github.com/pypa/manylinux

[ec2-user@ip-172-31-24-111 ~]$ sudo python3.7 -m pi

[2021-04-12 20:39] houqp commented on #189
@pitshou good catch! I was only looking at the python version column, did not expect such an old version of pip :) We should document this requirement in our readme at the very least.

[2021-04-13 18:11] mattc-eostar commented on #149
Could be a good idea to allow authentication through environment variables OR a filesystem object

https://arrow.apache.org/docs/python/filesystems.html#using-fsspec-compatible-filesystems
[code]

FSSPEC for Azure: https://github.com/dask/adlfs
[code]
Notes from Readme
[code]

[2021-04-13 18:11] mattc-eostar opened #192 "Python Bug: "No type alias for floatingpoint""
#Environment

**Delta-rs version**: 0.4.5

**Binding**: python

**Environment**:
- **Cloud provider**: Azure
- **OS**: MacOS (Intel)
- **Other**:

***
#Bug

**What happened**: Attempted to load a delta table written by Spark on Azure Databricks. The file is written successfully and the parquet file can be listed through DeltaTable.files() in this binding. When trying to convert to a pyarrow datase

[2021-04-13 18:20] houqp commented on #192
Interesting, @fvaleye I am guessing this is coming from https://github.com/delta-io/delta-rs/blob/main/python/deltalake/schema.py#L256?

[2021-04-13 18:26] houqp commented on #192
yep, looks like we need to match the float column types using `name = floatingpoint` and `precision` key instead: https://github.com/apache/arrow/blob/master/rust/arrow/src/datatypes/datatype.rs#L363-L365.

[2021-04-13 18:28] mattc-eostar commented on #192
This a list of unique datatypes in the DeltaTable schema before converting to PyArrow:
[code]
Is it the decimal datatype?

[2021-04-13 18:51] houqp commented on #192
@mattc-eostar it's mostly coming from the double type, based on delta spec, this is defined as float64, in other words, floatingpoint with double precision: https://github.com/delta-io/delta/blob/master/PROTOCOL.md#primitive-types.

This should be a fairly straight forward fix in `pyarrow_datatype_from_dict` :)

[2021-04-13 18:53] houqp commented on #192
here are all the type aliases in pyarrow: https://github.com/apache/arrow/blob/master/python/pyarrow/types.pxi#L2567

[2021-04-13 19:05] fvaleye commented on #192
Thanks for detecting this @mattc-eostar 👍, we missed the `floatingpoint` data type in pyarrow

[2021-04-13 19:41] fvaleye opened #195 "Add the createdTime field in the Metadata"
# Description
Add the `createdTime` field in the `Metadata` for the Rust bindings (https://github.com/delta-io/delta-rs/blob/main/rust/src/delta.rs#L114)

**Use Case**
The Delta protocol specify this field for getting the time when this metadata was created
https://github.com/delta-io/delta/blob/master/PROTOCOL.md#change-metadata

[2021-04-13 22:14] #192 closed

[2021-04-15 13:56] #190 closed

[2021-04-16 20:24] #195 closed

[2021-04-17 23:09] rtyler opened #203 "delta-inspect fails to read a delta table without a checkpoint"
# Environment

**Delta-rs version**: `7c9f672`

**Binding**:  Rust

**Environment**:
- **Cloud provider**: Minio
- **OS**: Linux/arm64 :laughing:
- **Other**:

***
# Bug

**What happened**: When trying out `delta-inspect` it will crash on a table that doesn't have the `_last_checkpoint` actually defined.

**What you expected to happen**: Well, not crash you silly goose. I would expect this to just

[2021-04-17 23:14] rtyler commented on #203
Bah carry on, I was holding minio with the wrong hand

[2021-04-17 23:14] #203 closed

[2021-04-19 16:48] houqp opened #205 "API to return full table history"
# Description

**Use Case**

See https://docs.delta.io/0.8.0/delta-utility.html#retrieve-delta-table-history

[2021-04-26 22:47] #176 closed

[2021-04-27 06:18] houqp opened #211 "Upgrade to arrow and datafusion 4.0.0 release"
# Description

The 4.0.0 release is out, we should upgrade to it so we can release a new version of delta-rs in crates.io :)

[2021-04-27 18:01] #155 closed

[2021-04-28 04:50] rtyler commented on #58
That compiler is old enough to where I don't know if there's anything worth documenting.

[2021-04-28 04:50] #58 closed

[2021-04-28 05:45] #211 closed

[2021-04-28 16:39] rtyler opened #217 "Cannot convert data-reader-map golden table to pyarrow"
# Environment

**Delta-rs version**: bd5f431f5a000ccd3d09b4b981fb0c802536403e

**Environment**:
- **Cloud provider**:
- **OS**: Linux/amd64
- **Other**:

***
# Bug

When running the following simple code against the golden data set:'s [data-readers-map](https://github.com/delta-io/connectors/tree/master/golden-tables/src/test/resources/golden/data-reader-map) table

[code]

**What happened**:

[co

[2021-04-28 16:42] rtyler opened #218 "Pyarrow error on data-array-primitives golden table"
# Environment

**Delta-rs version**: bd5f431f5a000ccd3d09b4b981fb0c802536403e

**Environment**:
- **Cloud provider**:
- **OS**: Linux/amd64
- **Other**:

***
# Bug

Similar to #217 but with a different error which is interesting. This was with the [data-array-primitives](https://github.com/delta-io/connectors/tree/master/golden-tables/src/test/resources/golden/data-reader-array-primitives) set.

*

[2021-04-28 17:18] rm-vg opened #219 "slack invite"
# slack access

Hi, the slack link in the readme (<https://join.slack.com/t/delta-users/shared_invite/enQtODQ5ODM5OTAxMjAwLWY4NGI5ZmQ3Y2JmMjZjYjc1MDkwNTA5YTQ4MzhjOWY1MmVjNTM2OGZhNTExNmM5MzQ0YzEzZjIwMjc0OGI0OGM>) redirects to a sign-in page that doesn't allow me to log in with my slack account (I have one, using work email).
It seems to be for people with a @databricks email account only. (see scre

[2021-04-28 17:19] rtyler commented on #219
@rm-vg try [this link](https://dbricks.co/delta-users-slack) from delta.io, if that works, I'll update the readme

[2021-04-28 17:22] rm-vg commented on #219
Hi, thanks for the quick response.
That link works for me :-)

[2021-04-28 17:22] #219 closed

[2021-04-28 17:33] rtyler opened #220 "DeltaTable.to_pyarrow_table() should allow specification of optional partition filters"
# Description

**Use Case**

For partitioned tables, it is quite helpful to be able to specify a partitions before generating the Table in memory. Something like the following would be ideal:

[code]

**Related Issue(s)**

[2021-04-28 17:44] fvaleye commented on #218
We are using pyarrow.list_ (https://arrow.apache.org/docs/python/generated/pyarrow.list_.html) for building a pyarrow list and the structure is like this: `list<item: int32>`.
When we read with pyarrow lib directly, the structure is: `list<element: int32>`

[2021-04-28 18:50] houqp opened #222 "Add file_paths_by_partitions method"
# Description

**Use Case**

Looks like it would be handy to add a `file_paths_by_partitions` method in rust core so language wrappers won't need to manually construct absolute file paths like what we did in python binding: https://github.com/delta-io/delta-rs/pull/221/files

**Related Issue(s)**

[2021-04-28 18:51] #220 closed

[2021-04-28 19:09] houqp commented on #217
Most likely an edge case that was not handled during the json deserialization. I think this kind of errors could be prevented at build time with https://github.com/delta-io/delta-rs/issues/95.

[2021-04-28 19:12] houqp commented on #218
the `item` name might be coming from the rust arrow crate actually. worth checking what we got in `element_type` at: https://github.com/delta-io/delta-rs/blob/2b1f5638ae5fa3b033ea55d34c4780de01bbbe9d/python/deltalake/schema.py#L218

[2021-04-28 19:27] fvaleye commented on #218
Hum, it might be related to the version referenced here: https://github.com/delta-io/delta-rs/blob/2b1f5638ae5fa3b033ea55d34c4780de01bbbe9d/python/Cargo.toml#L42

[2021-04-28 20:25] rtyler commented on #218
Validated this is fixed by #223

[2021-04-28 20:25] #218 closed

[2021-04-28 20:58] rtyler opened #224 "Cannot use S3 Endpoints with delta-rs"
# Environment

**Delta-rs version**:`HEAD`

**Binding**: Python, but it doesn't matter

**Environment**:
- **Cloud provider**:
- **OS**:
- **Other**:

***
# Bug

**What happened**:

I was trying to access an S3 bucket which required the use of an S3 endpoint. My understanding of what would need to happen here is that the user would need to set the `AWS_ENDPOINT_URL` (since we don't have a better m

[2021-04-29 06:24] #224 closed

[2021-04-29 17:33] fvaleye commented on #217
The error is a bit strange for me:
https://github.com/apache/arrow/blob/master/rust/arrow/src/datatypes/field.rs#L226

Looking at the code, a pyarrow list must have children...

[2021-04-29 22:45] rtyler opened #227 "Unit and integration tests for the vacuum command"
Our preliminary support for vacuum would benefit from some more unit and integration tests to ensure that it's only deleting the right files whenever the vacuum is invoked.

[2021-04-30 17:30] #217 closed

[2021-05-01 16:20] nevi-me opened #230 "Streams are not send + sync"
# Environment

**Delta-rs version**: latest `main`

**Binding**: rust

**Environment**: aarch64
- **Cloud provider**: n/a
- **OS**: macOS
- **Other**: wouldn't you like to know ...

***
# Bug

**What happened**: When using deltalake with tokio (grpc), one can encounter the following error:

[code]

i struggled to find why I was getting this error, as I couldn't find where to plug `Safe + Send`. I

[2021-05-01 18:21] #230 closed

[2021-05-02 08:01] GBBBAS commented on #149
It would be great to also provide Service Principal authentication with certificates. Secrets are not always an accepted method for  authenticating Service Principals in certain organisations and technologies

[2021-05-05 06:29] houqp opened #232 "Support bloom filter table indexes"
# Description

**Use Case**

This could help speed up table scans. This feature is not documented in the official spec yet, see more details in https://docs.databricks.com/delta/optimizations/bloom-filters.html.

[2021-05-06 14:52] drahnreb commented on #60
Highly appreciated if this is documented. I haven't looked into the Rust code, but from a python perspective this is very opaque.

[2021-05-06 15:05] drahnreb commented on #149
The filesystem object method proposed by @mattc-eostar should be the preferred method.
This is a common practice and would enable @GBBBAS remark.

Maybe the [unofficial Rust SDK](https://github.com/Azure/azure-sdk-for-rust/blob/master/sdk/identity/examples/client_credentials_flow_blob.rs) could be implemented and made available for python etc.?

[2021-05-06 19:37] houqp opened #234 "python package metadata not being uploaded to PyPI"
# Environment

**Delta-rs version**: all

**Binding**: python

***
# Bug

**What happened**:

The metadata section in https://pypi.org/project/deltalake/ is missing all the python package metadata defined in cargo.toml.

Possibly something to do with matruin packaging or upload.

**What you expected to happen**:

Have supported python version to show up i the metadata section.

[2021-05-07 18:02] houqp opened #238 "Automate rust crates release with Github Action"
# Description

Same setup with our pypi release, setup a pipeline that will be triggered with tag pushes in the format of `rust-vx.y.z`. The pipeline will run `cargo publish`.

[2021-05-10 07:49] fvaleye commented on #234
It works better now after upgrading the maturin version!

[2021-05-17 02:32] rtyler commented on #97
@fvaleye I think this is actually done right? I'm not clear what work we have left to do

[2021-05-17 06:53] #222 closed

[2021-05-17 07:12] fvaleye commented on #97
Yes, it is already implemented! Hum, we need to improve the tests suite: https://github.com/delta-io/delta-rs/issues/227

[2021-05-17 07:13] #234 closed

[2021-05-17 15:40] #45 closed

[2021-05-18 03:11] rtyler opened #247 "Incorporate test data with per-file statistics"
# Description

None of the golden data sets nor ours have any per-file statistics in their delta logs.

**Use Case**

**Related Issue(s)**

#246

[2021-05-18 04:45] rtyler opened #249 "Use #[serde(rename_all = "camelCase")] for structs to avoid camelCase in the Rust actions"
# Description

The `action.rs` file allows camelCase instead of the Rust conventional snake case, I suspect because when it was originally written the struct attribute  `#[serde(rename_all = "camelCase")]`

Filing this for later, it should be relatively straightforward but will likely require a fair bit of refactoring of the callsites within delta-rs

[2021-05-18 04:48] rtyler opened #250 "Incorporate test data with transactions"
# Description

We only have one test data set with a `txn` action in it, and we should definitely have more with richer transactions.

**Use Case**

**Related Issue(s)**

[2021-05-18 04:48] rtyler opened #251 "Incorporate test data that uses tags on the add action"
# Description

Right now there are no test datasets in the golden set or our own which use the `tags` field on the add action. It's not really clear to me what kind of data should go into there or how it's used "in real life"

**Use Case**

**Related Issue(s)**

[2021-05-20 17:08] jesseryoungVUMC opened #255 "Fall Back on Azure DefaultCredential when AZURE_STORAGE_SAS and AZURE_STORAGE_KEY aren't set"
# Description
When connecting to an Azure storage account, if AZURE_STORAGE_SAS and AZURE_STORAGE_KEY are not set, use Azure SDK's `DefaultCredential` to get a bearer token to access a storage account.

`DefaultCredential` supports getting auth tokens for from multiple different sources, as well as supports authenticating using a service principal or a managed identity in Azure Functions or within

[2021-05-20 17:11] jesseryoungVUMC commented on #255
Examples on how to implement this are over here: https://github.com/Azure/azure-sdk-for-rust/blob/master/sdk/storage/examples/blob_05_default_credential.rs

[code]

[2021-05-22 18:48] houqp opened #257 "Refactor DeltaTable to generic over storage backend trait"
# Description

**Use Case**

Right now DetalTable references storage backend using dynamic dispatch, this could turn into a potential performance bottleneck because our access to storage backend is now tied to the number of files we process from the delta table.

On top of this, using storage backend as trait object also prevents us from adding generic methods to the storage backend trait.

Instea

[2021-05-23 19:17] rtyler opened #262 "Add counter information to written parquet files"
Based on the [comment by Serge](https://github.com/delta-io/delta-rs/pull/248#discussion_r637403171) the parquet file path generation could use some cleanup to track a counter, and rely on the parquet file's writer properties for determining whether to add a `snappy` or not.

[2021-05-23 21:46] nfx commented on #205
i'll look into it

[2021-05-24 01:13] houqp commented on #262
Based on Serge's comment, we also need to use the same uuid for all files from the same batch, otherwise the counter won't provide any value.

[2021-05-24 15:55] nfx commented on #149
I might eventually look at it. There's also Azure CLI authentication, that is missing here in the list and Managed Service Identity (equivalent of EC2 Instance Profiles).

[2021-05-24 16:02] nfx commented on #141
@dispanser Azure Databricks has "autoloader" feature, that resembles inotify behavior. Did you already try that?

[2021-05-24 16:03] nfx commented on #141
@houqp there's autoloader on aws as well :)

[2021-05-24 16:05] nfx commented on #133
Implementing that in #265, @rtyler please link the PR also to this issue.

[2021-05-24 16:07] nfx commented on #133
@rtyler what you're mentioning about kafka ingest is called "userMetadata" and it is a string. We can't get a struct there.

[2021-05-24 16:10] #238 closed

[2021-05-24 16:16] nfx opened #266 "Capture and send code coverage to codecov.io"
# Description

Sample implementation found at https://github.com/sevro/rust-codecov

Also as cargo ext https://github.com/kennytm/cargo-kcov

Technically, codecov doesn't need any GITHUB_TOKEN for public repos.

**Use Case**

Continuously measuring code quality and stability of connector. We should aim at 85% coverage, so that more people have confidence in using this repo.

[2021-05-24 17:23] houqp commented on #133
@nfx based on https://github.com/delta-io/delta/blob/master/PROTOCOL.md#commit-provenance-information, commit info action is supposed to be schemaless and can store arbitrary json object right?

[2021-05-24 17:33] nfx commented on #262
https://github.com/apache/spark/blob/0494dc90af48ce7da0625485a4dc6917a244d580/sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/ManifestFileCommitProtocol.scala#L115-L120 here's good enough reference on conventional filename formatting.

[2021-05-24 17:42] nfx opened #267 "Add context to errors"
While debugging delta-rs for the first time, i've stumbled upon error messages, that didn't tell much,

[code]

with corresponding error definition:

[code]
e.g. someone would expect the error message to contain a path. e.g. verbose errors are better than concise ones, as we have no java-stacktrace-like blobs of text :)

In scope of this issue, we should add all possible relevant context to error

[2021-05-24 17:44] houqp commented on #267
We could wrap this enum variant with a free form string :+1:

[2021-05-24 20:58] nfx commented on #133
@houqp we'd need to check to what extent is it arbitrary, as delta history technically returns commit infos.

[2021-05-24 21:17] #249 closed

[2021-05-25 13:00] mosyp opened #268 "Recover from S3 rename/commit pauses"
# Description

When S3 pauses during a commit to the extent that the lock is expired and acquired by other worker then the commit is returned as failed. But the write will actually be completed in S3. As a result, caller should now retry with a newer version, which will cause duplicated writes.

There's a suggestion to recover from this failures as in https://github.com/delta-io/delta-rs/pull/233/

[2021-05-25 13:13] samuel100 commented on #74
@houqp I think this is still an issue. I am on version

deltalake-0.4.8 numpy-1.20.3 pyarrow-4.0.0

When I run:

[code]
The `dt.to_pyarrow_table()` causes the following error:
[code]

[2021-05-25 16:11] rtyler opened #269 "Document rust release process"
Branch merging, tag cutting, etc

[2021-05-25 16:22] houqp opened #270 "Enable S3 storage feature by default"
# Description

**Use Case**

Follow up for https://github.com/delta-io/delta-rs/discussions/208. We have decided to enable s3 storage backend by default and provide a new feature flag to disable s3 storage backend if they desire.

[2021-05-26 05:00] houqp commented on #268
When a lock is repaired by another worker and the current worker resumes, we should still consider the commit successful right? What difference does it make if a specific rename is completed first by another worker, then repeated by the current worker after resume?

[2021-05-26 07:59] houqp commented on #74
@samuel100 are you able to read one of the parquet file that's causing the error with `pyarrow` directly? I don't have an azure environment to test and debug this at the moment.

[2021-05-26 09:26] mosyp commented on #268
That is true, I made a false assumption in that comment due to initial implementation was failing in unit testing. But nevertheless I'm glad this has grown into separate issue/pr so it'll get more focus for implementation and testing.

[2021-05-30 00:58] houqp opened #275 "race condition in s3 rename test"
# Environment

**Delta-rs version**: main branch

**Binding**: Rust

**Environment**:
- **OS**: MacOS

***
# Bug

**What happened**:

Running s3 rename test locally resulted in the following error:

[code]

However, I am not able to reliably reproduce this test error. So feels like a race condition to me.

@mosyp have you ran into this before? Perhaps the w1 resumed before the file was deleted? It

[2021-05-31 06:35] zijie0 opened #276 "Read delta table after DELETE operation throws IndexError"
# Environment

**Delta-rs version**: python-v0.4.8

**Binding**: Python

**Environment**:
- **Cloud provider**: N/A
- **OS**: Ubuntu 18.04

***
# Bug

**What happened**:

After running DELETE operation on delta table, we read the same table through delta-rs Python binding and got exception: `IndexError: list index out of range`.

**What you expected to happen**:

We should expect same behavior wit

[2021-05-31 07:33] fvaleye commented on #276
Hello @zijie0,

Thank you for submitting this error with all the details!

The read of the Python binding failed when no data files are present in the DeltaTable, illustrated by your `test_case` (after the delete operation). It will be fixed after review here: https://github.com/delta-io/delta-rs/pull/277.
It will be available soon in the next Python release version 😄

[2021-05-31 08:15] zijie0 commented on #276
Hi @fvaleye ,

Cool! Looking forward to the next release. We will use a local fix for now.

[2021-06-01 12:23] mehd-io opened #278 "Add aws region parameter on DeltaTable class"
# Description
At the moment, delta-rs is getting the aws region through the environment `AWS_REGION`. There's no other possibility to specify the region when reading a remote table on s3.
**Use Case**
The mechanism makes it difficult to read different delta tables on s3 from different AWS regions through the same process. It would be nice to pass this when creating the DeltaTable.
If the `AWS_REGI

[2021-06-02 10:17] mehd-io commented on #278
The log I provided was actually not complete - I just updated it. When I try to reach an `us-east-1` bucket while having `AWS_REGION=eu-west-1` it's throwing that error. I had to manually override the env `AWS_REGION` to the appropriate region to make it works. It's true that in like boto3, you don't actually need to specify the region, not sure what's the current behaviour in rusoto thought...

[2021-06-02 11:20] Maks-D commented on #278
@mehd-io Thank you for explanation.

[2021-06-02 17:50] houqp commented on #278
Hi @Maks-D :)

@mehd-io, if you are using the rust core directly, we should be able to get it supported with a simple PR. All we have to do is to update the s3 storage constructor method to take an option that can specify region, creds and other s3 backend specific configs: https://github.com/delta-io/delta-rs/blob/d922b311b4ff697f5e0c964ddc7572324d2d3c01/rust/src/storage/s3/mod.rs#L167

Then one

[2021-06-02 19:41] mehd-io commented on #278
Thx @houqp for pointing it out! I would happy to have a look :)

[2021-06-02 19:45] fvaleye commented on #278
@mehd-io feel free to reach me if you want some help to implement it in the Rust land 😄 and we will see if we can add it into the Python binding as well!

[2021-06-02 20:05] fvaleye commented on #276
Hello @zijie0,

The release of the Python binding `0.5.0` includes the fix of the issue.
I close this issue.

Thanks again!

[2021-06-02 20:05] #276 closed

[2021-06-10 06:19] houqp opened #282 "Add pandas keywords to pypi package metadata"
Need to do a better job at SEO so when user type pandas deltalake, our PyPI package show up as one of the top results. :P

[2021-06-10 08:55] zijie0 opened #283 "Support read subset of columns in Python API"
# Description

In machine learning tasks, we often create very "wide" delta datasets with a large number of features. When reading this kind of datasets, it will be more efficient to support reading a subset of columns. Parquet format support this feature naturally, we can use the API from Pyarrow to implement this feature.

Reference: https://arrow.apache.org/docs/python/generated/pyarrow.dataset

[2021-06-10 17:40] rtyler commented on #267
In #286 I only did a single enum variant, since I wanted to leave others for trying out :smile:

If nobody submits a pull request for those other variants in the next few days, I'll go ahead and do that to close this issue out :smile_cat:

[2021-06-10 21:51] xianwill opened #287 "Future proof delta log schema used for checkpoints"
# Description

https://github.com/delta-io/delta-rs/pull/280 adds support for writing delta log checkpoints. We should add a clever test that serializes examples of all possible actions and does a full depth comparison to make sure the checkpoint schema doesn't break in case we add new action fields in the future.

[2021-06-10 21:54] xianwill opened #288 "Multi-part checkpoints"
# Description

https://github.com/delta-io/delta-rs/pull/280 adds checkpoint write support, but does not write multipart checkpoints currently. We should do some additional research to identify a good split strategy and implement it.

[2021-06-11 06:10] #283 closed

[2021-06-11 12:06] #106 closed

[2021-06-15 13:06] meastham commented on #43
@nevi-me is there a bug anywhere to track S3 support? I took a brief look in the Arrow and Datafusion repos and didn't find anything. If you're open to it it's something that we could potentially look in to contributing.

[2021-06-18 06:48] houqp commented on #43
@meastham feel free to start a discussion for s3 support in the upstream datafusion github repo or in the arrow dev mailing list.

[2021-07-01 10:45] mingruimingrui opened #300 "hdfs support"
# Description
HDFS storage support.

**Use Case**
A significant portion of companies dealing with big data uses HDFS as the backend storage solution of choice for long-term persistent data storage and processing. Having this would be very beneficial for the place I currently work at.

[2021-07-10 02:24] #247 closed

[2021-07-10 18:28] ritchie46 opened #310 "Consider adding Polars as possible data processing framework."
I see you already support `DataFusion` and `Rust DataFrame` as well, which both use `apache arrow`. It would be nice if we could read/write from/to [Polars](https://github.com/pola-rs/polars) as well.

If you'd be willing to, I could initialize a PR that sets that up.

[2021-07-10 18:36] houqp commented on #310
Yes, please do, we will be more than happy to merge the PR. Make sure you update the readme to mention Polars as well :)

[2021-07-11 05:51] houqp opened #312 "get_latest_version method should return version >= 0"
# Environment

**Delta-rs version**: all

**Binding**:  Rust

***
# Bug

**What happened**:

For an empty directory, `DeltaTable.get_latest_version` could return version `-1`.

**What you expected to happen**:

It should return an error instead, potentially `DeltaTableError::NotATable`.

[2021-07-13 07:11] #128 closed

[2021-07-15 13:21] mosyp opened #317 "The buffer_len function in DeltaWriter is inefficient"
# Description
The body of `buffer_len` is
[code]
The `.data()` call is copying all bytes from cursor and returns new vector. Since we just need a `len()` this is inefficient, moreover it's being called on each new message.  I couldn't find a possible easy workaround for it, also we don't have an access to internal buffer in in-memory cursor. However it seems that introducing a new function in `par

[2021-07-15 13:23] mosyp commented on #317
Ugh, that should've been created in kafka-delta-ingest repo :)

[2021-07-15 13:23] #317 closed

[2021-07-18 20:09] roeap opened #324 "[python] Cannot load dataset from ADLS"
# Environment

**Delta-rs version**: 0.4.0

**Binding**:  python

**Environment**:
- **Cloud provider**: Azure
- **OS**: OSX
- **Other**:

***
# Bug

**What happened**:

When loading delta table from Azure storage, an error is thrown when the dataset is loaded through the pyarrow bindings. It seems all functions using the Azure integration directly from delta-rs work (e.g. `dt.version()`) however

[2021-07-18 21:08] houqp commented on #324
It is possible to reuse the ADLS code from native reader by implementing our own fsspec filesystem wrapping the native storage backend with pyo3. But it is going to require a bit of work. We are also fine with including extra dependencies as long as they are optional :)

I am cool with us going either direction. If you are interested in taking a stab at this, please feel free to send us a PR!

[2021-07-19 15:56] Dandandan opened #330 "Upgrade to Arrow 5"
# Description

Update delta-rs to the new Arrow 5.0 release, which contains bug fixes, performance improvements and new functionality.
For this to work, a new DataFusion release needs to happen as well.

**Use Case**

**Related Issue(s)**

Full `cargo upgrades` command output:

[code]

[2021-07-19 16:40] #282 closed

[2021-07-19 17:02] houqp commented on #330
I released 0.4.0 for the delta rust crate this last weekend so we can start pointing datafusion to git hash before a new arrow 5 compatible release is out. But yeah, it would be ideal if we can get a new release out of datafusion sooner :)

[2021-07-24 17:40] #330 closed

[2021-07-27 05:29] junhl opened #337 "AWS S3 error message is misleading for insufficient access"
# Description

For Python package usage, from what I can read, it seems the s3 credentials always have to come from environment variables. Example: https://github.com/delta-io/delta-rs/blob/0afed35fd83b74412e988eb4fc317ecb47100d56/python/tests/conftest.py#L7

Are there other ways to pass the credentials in other manners, such as ~/.aws, profile, IAM role, create&pass S3 client/session, etc for suc

[2021-07-27 06:12] houqp commented on #337
It should support the the standard aws credential look up chain, we use it with iam role in AWS ecs tasks. The only missing support in the credential look up chain from the Rust AWS sdk is SSO login. Did you generate your credential with SSO login?

[2021-07-27 17:51] junhl commented on #337
It turns out I had to add permission to the path of delta tables to IAM role. I was doing a quick proof of concept and thought the IAM role had read/write of the S3 bucket.

While I hoped the error message would say something a bit more precise (e.g. unable to read the S3 uri), instead of giving an impression of whole credentials missing, I believe this is not up to this project.

Thanks @houqp. I

[2021-07-27 19:09] houqp commented on #337
I agree this error message is very misleading. let's keep this issue open to track the improvement on the error message. There might be a way to match of the error returned by rusoto and construct a more friendly message on our end.

[2021-07-28 02:17] houqp opened #338 "Formally verify S3 multi-writer design using stateright"
# Description

Model our S3 multi-writer design with https://www.stateright.rs to check for potential correctness issues.

[2021-07-29 21:33] Smurphy000 opened #339 "Low level API for creating new delta tables"
# Description
Adding the ability to create a new Delta table from scratch

**Use Case**
Create a delta table outside of spark

[2021-07-29 21:35] Smurphy000 commented on #339
I have started some work on this

[2021-07-29 22:40] houqp commented on #339
Thanks @Smurphy000 ! I have assigned the issue to you :)

[2021-08-02 06:27] zijie0 opened #345 "Duplicate data produced by load_version method"
# Environment

**Delta-rs version**: 0.5.1

**Binding**: Python

**Environment**:
- **Cloud provider**: local
- **OS**: CentOS 7.6
- **Other**: Spark 3.0.1

***
# Bug

**What happened**:

When we use `load_version` to get an old version of dataset, the returned data is doubled in rows with duplication.

**What you expected to happen**:

Should get same result with `versionAsOf` option in original

[2021-08-02 16:54] houqp commented on #345
thanks @zijie0 for the report, i think this is caused by bugs in the core rust time travel code.

[2021-08-02 16:57] houqp opened #346 "Wrap DeltaTransactionError with DeltaTableError"
# Description

**Use Case**

Today, `DeltaTableError` is wrapped as an enum variant in `DeltaTransactionError`, which forced some of the DeltaTable methods to return `DeltaTransactionError` as  the error type. I think things would be cleaner if we change the abstraction to have `DeltaTableError` wrapping `DeltaTransactionError` instead.

**Related Issue(s)**

From discussion in https://github.com/

[2021-08-03 06:38] zijie0 commented on #345
I found a workaround using following code to specify the version:

[code]

It returned the same results with Spark.

[2021-08-03 06:52] houqp commented on #345
I think most likely this is caused by us not clearing the table state in https://github.com/delta-io/delta-rs/blob/main/rust/src/delta.rs#L698. We do clear table state in `restore_checkpoint`, so this won't happen to tables with more than 10 commits.

@zijie0 are you interested in giving a try to send a PR to fix this bug in the rust core? I think adding `self.state = DeltaTableState::default();`

[2021-08-03 07:36] zijie0 commented on #345
@houqp cool! Let me try to get familiar with Rust :)

[2021-08-03 12:43] zijie0 opened #348 "Read table failed when containing null partition values"
# Environment

**Delta-rs version**: 0.5.1

**Binding**: Rust/Python

**Environment**:
- **OS**: CentOS 7.6
- **Other**: Spark 3.0.1 + delta 0.7.0

***
# Bug

**What happened**:

When reading partitioned delta table containing null values, the program throws an exception.

**What you expected to happen**:

Should be able to read table containing null partition values.

**How to reproduce it**:

[c

[2021-08-03 12:50] zijie0 commented on #348
I think the problem is that in delta log, there's following line for the null values:

[code]

But in the code here: https://github.com/delta-io/delta-rs/blob/main/rust/src/action.rs#L153
We assume that the partitionValues with type `HashMap<String, String>`, but should be `HashMap<String, Option<String>>`?

[2021-08-03 16:23] #345 closed

[2021-08-04 04:38] Smurphy000 opened #350 "Add commitInfo action to low level create table API"
# Description
The commitInfo for Delta to store additional provenance data should be added to the create table API

# Additional Information
https://github.com/delta-io/delta/blob/master/PROTOCOL.md#commit-provenance-information
https://github.com/delta-io/delta-rs/blob/main/rust/src/action.rs#L755

[2021-08-04 07:11] houqp commented on #348
Good catch @zijie0 , the `HashMap<String, String>` field type is defined based on the type provided in the official delta spec, see https://github.com/delta-io/delta/blob/master/PROTOCOL.md#add-file-and-remove-file and https://github.com/delta-io/delta/blob/master/PROTOCOL.md#partition-value-serialization.

Specifically this quote:

So if the reference implementation actually adheres to the spec,

[2021-08-04 07:15] houqp commented on #348
code to the reference implementation https://github.com/delta-io/delta/blob/eab445a15f478ed2454cf152edb795e9fece91f6/core/src/main/scala/org/apache/spark/sql/delta/actions/actions.scala#L223

[2021-08-04 09:25] zijie0 commented on #348
@houqp I have posted a question here: https://groups.google.com/g/delta-users/c/ZzzrtNRqRyk

[2021-08-05 01:36] #339 closed

[2021-08-05 08:37] Bernolt commented on #339
Hello, I see the issue have been closed, however I don't see the PR. What is the status of this subject?
Br

[2021-08-05 12:07] Smurphy000 commented on #339
@Bernolt https://github.com/delta-io/delta-rs/pull/342

[2021-08-05 18:40] houqp opened #352 "Honor appendOnly table config in table writes"
# Environment

**Delta-rs version**: all

**Binding**: all

# Bug

Currently we are not taking `appendOnly` table config into account when performing delta table writes. This config needs to be honored at two levels. In the low level delta transaction commit code path, we need to throw an error if a remove file action is included in a transaction. In the high level delta write API (not available i

[2021-08-05 18:48] houqp opened #353 "public DeltaTable method to access table config"
# Description

**Use Case**

Looks like there is no public method declared on the `DeltaTable` struct itself to access table config value. Table configurations are currently encapsulated within DeltaTableState.TableMetadata, which is all private fields.

[2021-08-06 02:07] Smurphy000 commented on #353
Are you saying that a method is needed on `DeltaTable` that can get the current Metadata from its state field and return the configuration HashMap?

[2021-08-06 04:41] houqp commented on #353
that's correct

[2021-08-06 06:26] houqp commented on #348
@zijie0 thanks for posting the question on the dev list, I think you are right that the field should be declared as `HashMap<String, Option<String>>`. If you send a PR for it, I will be more than happy to merge.

[2021-08-06 13:24] zijie0 commented on #348
@houqp Ok, I will take a look.
As I am very new to Rust, might need your help on some implementation details :)

[2021-08-06 13:46] Smurphy000 commented on #353
I can probably do this unless somebody else wants to

[2021-08-06 19:54] houqp commented on #353
Thanks @Smurphy000 , consider yourself assigned :)

[2021-08-07 05:46] #353 closed

[2021-08-07 06:15] houqp opened #357 "support partition value serialization for more data types"
# Description

In `rust/src/checkpoints.rs`, we currently only support partition value deserialization for string, byte, short, integer, long and boolean.

Based on https://github.com/delta-io/delta/blob/master/PROTOCOL.md#partition-value-serialization, we also need to support double, date, timestamp and binary

[2021-08-07 07:08] houqp opened #358 "get_files_by_partitions should filter partitions using partition_values or partition_values_parsed field"
# Environment

**Delta-rs version**: all

**Binding**: rust

***
# Bug

**What happened**:

In `DeltaTable::get_files_by_partitions`, we are generating partition values from file path.

**What you expected to happen**:

We should be applying the filter using `Add.partition_values` or `Add.partition_values_parsed`. The path field in Add action should be transparent to the table parser. Writer can c

[2021-08-08 04:45] #348 closed

[2021-08-08 07:38] houqp opened #361 "File storage backend's `put_obj` implementation is not atomic"
# Environment

**Delta-rs version**: all

**Binding**: rust

***
# Bug

**What happened**:

`put_obj` method in our file storage backend could result in partial update being visible to readers.

**What you expected to happen**:

Content written out by `put_obj` should either be fully visible to readers or not visible at all.

To properly fix this, we need to write the file to a temp location first

[2021-08-08 20:15] #358 closed

[2021-08-09 04:40] #312 closed

[2021-08-09 13:57] mosyp commented on #361
So for committing the new file will lead in an another unneeded temp file.  E.g. we already handling the atomic there. Also I don't see any other uses cases for it. Do you have some example where it might be useful? I'm trying to avoid the unnecessary file creation if possible

[2021-08-09 20:16] houqp opened #368 "File storage should switch to sync_all instead of flush"
# Environment

**Delta-rs version**: all

**Binding**: rust

***
# Bug

**What happened**:

We are only calling flush in file backend's `put_obj` implementation, which only flushes data into kernel buffer.

**What you expected to happen**:

sync_call should be called instead to persist data from kernel buffer into disk.

**How to reproduce it**:

**More details**:

From https://github.com/delta-io

[2021-08-09 20:19] houqp opened #369 "File storage backend's atomic rename implementation is not async"
# Environment

**Delta-rs version**: all

**Binding**: rust

***
# Bug

**What happened**:

atomic_rename in file storage backend could block the tokio runtime entirely because it is not async

**What you expected to happen**:

perform syscall asynchronously in atomic rename.

**How to reproduce it**:

run atomic rename and see no other tokio tasks being able to execute until it returns.

**More d

[2021-08-10 04:37] #361 closed

[2021-08-10 04:37] #368 closed

[2021-08-10 18:00] houqp opened #372 "Audit action field optionality"
# Environment

**Delta-rs version**: all

**Binding**: rust

***
# Bug

**What happened**:

Some of the fields are incorrectly marked as optional in action.rs

**What you expected to happen**:

Make sure optionality annotation matches with what's in delta spec and reference implementation: https://github.com/delta-io/delta/blob/master/core/src/main/scala/org/apache/spark/sql/delta/actions/actions.

[2021-08-10 18:17] BobinMathew opened #373 "Missing Contribution guideline file"
# Description

I see that your repo is missing its Contribution guideline file. Adding a Contribution file improves your community profile
Cant I propose a Contribution file?

[2021-08-11 02:16] Smurphy000 commented on #350
Since commitInfo is stated that implementations are free to store any valid json here, do we have a set of minimum required fields for the delta-rs project that we would want implemented?

[2021-08-11 02:23] Smurphy000 commented on #22
Hey, was any progress made around this idea @nevi-me ? I had a similar thought, then stumbled on this issue, so I was hoping to see if there was any info. Thanks

[2021-08-11 14:20] mosyp opened #377 "Parameter swap is ignored put_obj in windows fs backend"
# Environment

**Delta-rs version**: all

**Binding**:  rust

**Environment**:
- **OS**: windows

***
# Bug

**What happened**:

`swap` parameter is ignored in windows backend `put_obj` function with changes introduced in #376

[2021-08-11 18:24] houqp commented on #350
I think a good approach would be taking a json object passed in by the caller, then add delta-rs version and timestamp on top of it before doing the commit. The more interesting higher level audit info like owner of the commit and operation type will be provided by the caller and should be transparent to delta-rs.

[2021-08-12 01:37] Smurphy000 commented on #350
@houqp I can work on this now

[2021-08-12 05:05] zijie0 commented on #377
@mosyp I submitted a PR for this issue.
One remaining problem is that under Linux, if we swap the file, the original file still exists. But in Windows, the original file would be gone.
I'm not sure if we should delete original file in Linux implementation or keep the original file in Windows?

[2021-08-12 05:27] #346 closed

[2021-08-12 06:01] mosyp commented on #377
As of now, we only use swap in put_obj where we delete the `tmp` file whatsoever. Taking into account that under windows its done by default without any additional call works for me. Especially since we're not exposing the rename for pub api. However it makes sense to note that platform specific behaviour in func inline docs

[2021-08-12 06:23] #377 closed

[2021-08-13 13:32] mosyp opened #385 "Explore behaviour of creating checkpoints with passed table reference"
# Description
A follow up issue from https://github.com/delta-io/delta-rs/pull/384/files#r688514360. The create checkpoint call mutates the given table state, thus we have to make it expected to the caller. There's a few possibilities, like keeping an old version, the one that matches given version or bumping to the latest one (what we have now)

**Use Case**
When creating checkpoints with referen

[2021-08-13 15:05] xianwill commented on #385
IMHO - to abide by "principal of least surprise" the correct behavior would be to store the starting table version and restore up to that point but no farther. So just before the check in https://github.com/delta-io/delta-rs/blob/0a9cc679a4070f7c799ee2fc7d1d898c4d61fbc8/rust/src/checkpoints.rs#L99 (`if table.version != version`), we would do something like:

[code]

and implement a method analogou

[2021-08-15 08:51] Dandandan opened #388 "Upgrade to DataFusion 5.0"
# Description

So we can have all the enhancements / fixes and release a new version to crates.io

**Use Case**

**Related Issue(s)**

[2021-08-16 04:42] houqp opened #390 "Move version field into `DeltaTableState` struct"
# Description
`version` is currently a field in `DeltaTable`. It would make more sense to move this into `DeltaTableState` since version maps one to one to state.

[2021-08-17 06:34] houqp commented on #385
How about we just make `create_checkpoint_from_table` take an immutable reference of the passed in table and get rid of the version argument?

For applications that only need to checkpoint the current state of a table, that version argument is redundant.

For applications that need to checkpoint a table with a different version, it can just call the `load_version` itself right before the `create_c

[2021-08-17 06:38] mosyp commented on #385
That's true though, so basically we'll be down to the single function e.g.  `create_checkpoint_from_table`. I like the simplicity, I can easily move `load_version` to the kdi

[2021-08-17 16:54] prasadvaze opened #392 "How to access ADLS folder (delta table storage) from DeltaTable method in deltalake package"
# Description
  Delta RUST API seems a good option to query delta table without spinning up spark cluster so I am trying out  this - https://databricks.com/blog/2020/12/22/natively-query-your-delta-lake-with-scala-java-and-python.html using Python app
"Reading the Delta Table (Python)" section towards the end of this blog refers to below code snippet
'dt = DeltaTable("../rust/tests/data/simple_tab

[2021-08-17 17:20] Dandandan opened #393 "Parallel Vacuum command"
# Description
Currently, the vacuum command deletes files one by one which is very slow on e.g. S3, especially if you have 100000s files. I had a case (with databricks/spark) with more than 8 million stale files, which took days, even with parallel calls (using `spark.databricks.delta.vacuum.parallelDelete.enabled` I got around 80 deletes / second)
The delete calls could be parallelized (e.g. 100/

[2021-08-17 19:56] houqp commented on #393
If only there is a rust distributed batch compute framework that we can leverage here ;)

On a serious note, I fully agree with you that we should parallelize the delete calls. We should be able to easily do couple thousands calls from a single rust process async, which should help bring down the vacuum time to under an hour for 8M items.

[2021-08-17 20:02] #388 closed

[2021-08-17 20:56] Dandandan commented on #393
It might also be wise/a good start to utilize the storage APIs better, e.g. such as using multi object delete which does up to 1000 deletes in one call: https://docs.aws.amazon.com/AmazonS3/latest/API/API_DeleteObjects.html

[2021-08-17 23:05] houqp opened #394 "Leverage batch delete in vacuum"
# Description

**Use Case**

From https://github.com/delta-io/delta-rs/issues/393#issuecomment-900624545. Some of the backends like S3 support batch delete operation. We should leverage this in vacuum for better performance and lower cost (API call).

We could add a new `delete_objs` to the `StorageBackend` trait as an abstraction for batch deletes.

**Related Issue(s)**

#393

[2021-08-17 23:06] houqp commented on #393
Good call @Dandandan , filed https://github.com/delta-io/delta-rs/issues/394 for the batch delete support. With batch delete, we should be able to get it down from 1 hour to minutes!

[2021-08-18 05:27] #350 closed

[2021-08-18 15:23] prasadvaze commented on #324
@roeap
I am making connection between issue#392 and issue #324.  From a python App I can connect to ADLS using storage blob client but don't know how to use the ADLS folder path in 2nd line of below code

from deltalake import DeltaTable
dt = DeltaTable("..ADLS path to delta table..")
df = dt.to_pyarrow_table().to_pandas()

Looks like you were able to get past this and having issue in the 3rd line

[2021-08-18 22:05] prasadvaze commented on #392
I think below should work but still confirming
dt = DeltaTable("abfss://FileSystemName@StorageAcctName.dfs.core.windows.net/rust/tests/data/simple_table)

[2021-08-19 06:32] #56 closed

[2021-08-19 06:52] mosyp opened #397 "Add mocked GCS provider for tests"
# Description
For S3 we have localstack to mock s3/dynamodb usages. But not for others. For GCS quick googling resulted in https://github.com/fsouza/fake-gcs-server. We might give it a try.

It also would be good to standardise test cases for each backend as well as in CI.

[2021-08-19 11:06] #385 closed

[2021-08-20 02:22] Smurphy000 opened #401 "Errors setting up environment for Python API"
# Problem
Currently trying to setup the dev environment for python api, following the steps provided in the [README](https://github.com/delta-io/delta-rs/blob/main/python/README.md),
but after running `make develop` I run into an error

# Error
[code]

[2021-08-20 06:44] houqp commented on #401
@Smurphy000 could you try updating your rust toolchain to the latest stable version?

[2021-08-20 06:46] houqp opened #402 "Move delta-inspect to its own crate"
# Description

**Use Case**

Currently delta-rs Rust core depends on cli related dependencies like `clap`, which is unnecessary for downstream consumers. We should move delta-inspect code into its own crate within the same workspace like what we did for `aws/delta-checkpoint` so we can move all cli related dependencies to the cli crate and keep delta-rs dependency tree clean.

**Related Issue(s)**

[2021-08-20 14:44] thedern commented on #392
The instance of DeltaTable can be created with an 'abfs' file URI; however, the following error will occur when creating a pyarrow table via the _to_pyarrow_table_  method:

`dt = DeltaTable(d)`
`df = dt.to_pyarrow_table()`
_pyarrow.lib.ArrowInvalid: Unrecognized **filesystem** type in URI: abfss://mycontainer@mystorageacct.dfs.core.windows.net_

I walked through the source code in the stack trace

[2021-08-20 17:40] mattc-eostar commented on #392
It may be that you will need to recreate the to_pyarrow_dataset method to use a file system object. Dask created one for Azure Data Lake
[code]

[2021-08-20 17:42] mattc-eostar commented on #324
In case others were wondering how to path the `to_pyarrow_dataset()` method to use the azure datalake fs object created by dask

[code]

[2021-08-20 17:48] mattc-eostar commented on #392
If I have some extra time in the next week, I can perhaps put together a PR that handles this use case. I think it would make it easier to support other FS as well. Or even if the FS object is passed to the main delta table initialization, then maybe it could be passed along as needed into any of the methods. Thoughts?

[2021-08-20 18:55] mattc-eostar commented on #392
The code needs to account for container name. When fs.open() is called and the path of one of the files is passed in in pyarrow.dataset, it fails because, for adlfs, you need to prepend the path with the container name even though it is specified in the URI...sorta weird, but the code above does that prepend.

[2021-08-20 21:18] #394 closed

[2021-08-21 02:31] Smurphy000 commented on #401
Update rust from 1.53 -> 1.54 and command finished successfully now

[2021-08-21 02:31] #401 closed

[2021-08-21 03:04] Smurphy000 opened #404 "Add additional documentation to setting up python development"
# Description
Currently trying to setup the dev environment for python using maturin, however, based on the current documentation in the readme and looking for other sources, I can't seem to find a way to easily install the optional dependencies listed in the pyproject.toml file.

This began after I successfully ran `make develop` but then tried running `make unit-test` where I release pytest was

[2021-08-21 03:28] Smurphy000 commented on #404
https://github.com/PyO3/maturin/issues/604

[2021-08-21 04:07] Smurphy000 commented on #404
From linked issue, I overcame the current concern using `make build` followed by `pip install <path-to-wheel>/example.whl[devel]` or other forms could work. If that is the preferred way for now I could add that to the readme

[2021-08-21 04:26] houqp commented on #404
Yes, this is how I setup my local env as well. Thanks for helping with documentation.

[2021-08-21 05:04] fvaleye commented on #404
Yes, good idea! The `README.md` needs to be updated to include the optional dependencies for the local environment. You could take a look at the Python build Github workflow file: https://github.com/delta-io/delta-rs/blob/main/.github/workflows/python_build.yml#L58. Thanks for helping!

[2021-08-22 04:51] Dandandan opened #407 "Leverage batch delete in vacuum for GCS"
# Description
GCS supports batching multiple delete operations (up to 100) in a single call. This can speed up vacuum.
We shuld add a new `delete_objs` implementation of StorageBackend for GCS.

**Use Case**

**Related Issue(s)**
https://github.com/delta-io/delta-rs/issues/394

[2021-08-22 04:55] Dandandan opened #408 "Leverage batch delete in vacuum for Azure Storage"
# Description
Azure supports batching multiple delete operations in a single call. This can speed up vacuum.
We shuld add a new `delete_objs` implementation of StorageBackend for Azure.

**Use Case**

**Related Issue(s)**
https://github.com/delta-io/delta-rs/issues/394

[2021-08-22 05:02] houqp commented on #407
Thanks @Dandandan for filing this, FYI @blogle in case you run into vacuum performance issue with your PoC.

[2021-08-22 21:31] Smurphy000 commented on #404
@fvaleye are we good to close this?

[2021-08-23 05:39] fvaleye commented on #404
Yes, let me do this for you!

[2021-08-23 05:39] #404 closed

[2021-08-23 21:53] blogle commented on #407
I haven't had the need to do any work around `vacuum` just yet, and to be honest I have been thinking I would just invoke `vacuum` on some schedule from spark when needed.... As we further scope out our needs and ensure those features are built out, I wouldn't mind going through and adding this to the storage backend's, assuming nobody does so in the interim.

[2021-08-23 22:09] blogle opened #409 "Schema type must be struct"
# Environment

**Delta-rs version**: master

**Binding**: native/rust

**Environment**:
- **Cloud provider**: Google Cloud
- **OS**: GNU/Linux (NixOS 21.11.20210730.04c25b8 (Porcupine))
- **Other**: N/A

***
# Bug

**What happened**:
Following the test code as an example for how to create a new `DeltaTable` https://github.com/delta-io/delta-rs/blob/9196ff49bc147b36339b4901624229473092b024/rust/src

[2021-08-24 00:33] Smurphy000 commented on #409
Ya, I guess this wasn't a problem prior to adding the `create` method for a `DeltaTable` . We could enforce the `"struct"` by checking the passed in metadata in  `create`  and raising an appropriate error if it isn't, thus making it on the caller to handle the schema creation (update the test to reflect this), or as you suggested, put it on the `Schema`.

[2021-08-24 01:27] houqp commented on #409
On top of checking for the type string in create table call, we should also just remove the `type` argument in `Schema::new` method: https://github.com/delta-io/delta-rs/blob/9196ff49bc147b36339b4901624229473092b024/rust/src/schema.rs#L178.

Within the new method implementation, we can always set type to the `struct` string.

[2021-08-24 14:11] thedern commented on #392
Thanks for the sample code.  I implemented it and it did indeed create the data frame.

[2021-08-24 14:45] prasadvaze commented on #392
@mattc-eostar
Matthew , thanks for posting the code for to_pyarrow_dataset2( )  method. We (me and darren who are working on this issue) appreciate your help.  As Darren mentioned we are now able to use DeltaTable method in RUST deltalake package (crate) to query delta table stored in ADLS.
We kind of understand the difference between your to_pyarrow_dataset2( ) and the original  to_pyarrow_datase

[2021-08-24 14:47] mattc-eostar commented on #392
@thedern glad to hear it helped. definitely hacky for now, but it works!

@prasadvaze not sure if and when I will have the time to submit a PR. I think that it could be tricky/confusing to implement since the package requires environment variables to be set and this hack requires the use of a filesystem object. I think it would be best for the package to support file system objects in general and

[2021-08-24 14:49] mattc-eostar commented on #392
This is the key difference. Need to prepend container name and pass in a FS object from adlfs rather than a URI
[code]

It would be piggybacking on how pyarrow accomplishes working with FS objects: https://arrow.apache.org/docs/python/filesystems.html

[2021-08-24 14:59] thedern commented on #392
I can confirm that the file paths returned do not have the container name associated with them, just what amounts to a  'relative' file path is passed back.  Prepending the container name solved the issue.  Thanks again.

[2021-08-24 15:03] mattc-eostar commented on #392
@thedern when you say solved, does that mean a PR is planned?

[2021-08-24 19:11] thedern commented on #392
@mattc-eostar, I have not planned a PR at this time.  Using the workaround you provided where the container name is prepended to the file path worked for us in our testing.  We did not address the filesystem object, just tried your container name insert.

[2021-08-24 20:08] blogle opened #413 "Ability to get table updates in a streaming manner"
# Description
I would like to read a stream of updates on a delta table, where the table is append only meaning no inserts/updates or deletes.

**Use Case**
Today we have both a custom built messaging infrastructure built on-top of zmq and Google pub/sub acting as a message broker. For each topic there is a single producer that does some processing and submits the message, 1 or more consumers subs

[2021-08-24 22:31] blogle commented on #402
Does `delta-inspect` have any value beyond being an example of how to interact with delta tables through the rust api? Or in other words is there any intent to further develop and add features to it? if not I would suggest just cordoning it off into an `examples` directory similar to what the pyo3 folks do https://github.com/PyO3/pyo3/tree/main/examples.

I think this would solve the goal of remov

[2021-08-25 15:12] akbhuker commented on #408
hey, can I have this issue?
I'm quite new to this so I might need some guidance

[2021-08-28 02:01] houqp commented on #408
Issue assigned, thanks @akbhuker for taking up on this!

[2021-08-30 07:08] houqp commented on #402
I do plan to maintain delta-inspect as a simple cli tool that can be used to for debugging purpose similar to parquet-tools. So there is value in moving it into a self-contained crate.

[2021-08-30 10:35] mosyp commented on #372
We also has to double check changes and do not copy paste 1-to-1 as this example https://github.com/delta-io/delta-rs/pull/417/files/b33124ce41bf4ce9b210fc67a79c8e8590dc72b4#diff-9fb70b66d3f77e15e99399b95228d124db4bd0d898e1e159bf106ccced488332 shows that we could face some issues

[2021-08-30 18:33] prasadvaze commented on #392
@fvaleye  and @houqp   Thanks so much for updating original method. We will try and confirm if it works as expected.
@mattc-eostar   Thanks for workaround in the meantime

[2021-08-31 20:16] #409 closed

[2021-09-02 16:19] prasadvaze commented on #392
Using deltalake.DeltaTable (RUST impl) on ubuntu we used blobfuse instead of adlfs to connect and mount the ADLS.  So we bypassed  to_pyarrow_dataset( ) method while creating dataframe from delta table.   On windows we have to use adlfs and then try the new to_pyarrow_dataset( ) method updated by @fvaleye. we will try that soon
   Querying ~50k rows delta table using blobfuse took ~2sec while same

[2021-09-05 18:30] Smurphy000 commented on #205
@nfx Are you still working this? I noticed the PR that is up when I was looking for a way to get table history but it has been a few months.

[2021-09-06 09:57] #372 closed

[2021-09-06 13:18] devilaadi commented on #392
Hi @mattc-eostar ,

we are getting the error **'str' object has no attribute 'file_uris'** when using your to_pyarrow_dataset2 function.
df = to_pyarrow_dataset2('sales_product', fs, 'shared').to_table().to_pandas()

sales_product is my table name and shared is my container name

[2021-09-06 23:30] mattc-eostar commented on #392
Please take a look at the function definition. You have to pass it a Deltatable object that points to your delta table in your storage account. You cannot just pass it the name of the table.

You may be able to modify the function to do what you need though.

________________________________
From: devilaadi ***@***.***>
Sent: Monday, September 6, 2021 9:19:04 AM
To: delta-io/delta-rs ***@***.***>

[2021-09-07 03:11] houqp commented on #392
The object uris returned by the Rust core should contain the full uri including the container name for ADLS, see the file_paths variable at: https://github.com/delta-io/delta-rs/blob/0a05cb45ace7a75ae87bbd4acb3b919653e09233/python/deltalake/table.py#L248

I believe the problem is due to we passed that path to urlparse and only referenced the relative path component of the uri later when we constru

[2021-09-07 04:29] devilaadi commented on #392
@mattc-eostar Thanks for the reply , can u tell me how to create that deltatable object like which function and parameter we have to use.

[2021-09-07 08:58] houqp opened #424 "Optimize remove action apply with early iteration exit"
# Description

**Use Case**

Right now, we use `Iterator::retain` to remove files from active file list when applying remove actions from the transaction log: https://github.com/delta-io/delta-rs/blob/0a05cb45ace7a75ae87bbd4acb3b919653e09233/rust/src/delta.rs#L1484

This can be further optimized by performing an early exit of the iteration when we reach the file that needs to be removed. There is

[2021-09-07 12:28] mattc-eostar commented on #392
@devilaadi  Check out the docs [here](https://delta-io.github.io/delta-rs/python/).

[2021-09-07 12:31] mattc-eostar commented on #392
I think that makes sense. And then if it becomes a pain to keep adding/maintaining new special cases, it could always be abstracted into a more robust cloud provider handler class or something.

As long as the information is available already within the class, then it the container parameter could be removed immediately. The file system object needs to remain unless that could be passed in upon cr

[2021-09-07 18:53] dispanser opened #425 "Optionally ignore tombstones for read-only use cases"
# Description

In a discussion for PR #420, https://github.com/delta-io/delta-rs/pull/420#discussion_r703270551 an idea came up to have a config option to ignore all tombstone entries entirely. Applications that are only reading do not actually use tombstones.

**Use Case**

This would reduce memory footprint, in particular for read-only applications.

@houqp writes:

I'd like to explore that idea

[2021-09-07 19:52] houqp commented on #425
Extending on @dispanser 's idea, I think we could even extend it to all writers that doesn't handle checkpoints. By moving checkpoints to a dedicated writer/lambda function, we could even apply this optimization to all data writers.

[2021-09-08 04:40] houqp commented on #392
Does the ADLS filesystem library support setting container name on creation? I am wondering if that will make it able to handle paths without container names. This is how things work for other backends, i.e. we initiate the filesystem and table root path, then pass in relative paths for each files.

[2021-09-08 06:55] mosyp commented on #425
An easy way would be just an additional option/flag. And if set, then we'd keep tomstones list empty, destipe it's writer or reader

[2021-09-08 10:50] dispanser commented on #425
I agree with @mosyp , let the user decide on instantiating the delta table.

However, it would be interesting if we're able to detect the misuse, i.e. panic / warn (?) when a writer attempts to write a checkpoint despite not having tombstones available. Not sure if that's easy to implement.

[2021-09-08 10:53] mosyp commented on #425
@dispanser If we stick with an optional flag, then if it's set, then prevent of creating a checkpoint and telling user a meaningful error

[2021-09-08 13:55] mattc-eostar commented on #392
I am not sure that this particular implementation allows for that. But could be wrong.

[2021-09-08 17:19] dispanser commented on #425
I'd make a quick foray into that topic if someone assigns this to me.

[2021-09-08 19:01] houqp commented on #425
yep, it should be easy to prevent side effect of this optimization by checking for the flag in both checkpoint and vacuum code path.

[2021-09-12 18:13] ritchie46 commented on #310
Sorry for the delay, I will work on is. Is it ok to also add an implementation based on arrow2 (under a feature flag)?

[2021-09-12 18:34] houqp commented on #310
@ritchie46 yes, we want to move to arrow2 in the long run as well :) but it would be good if we can manage it with a feature flag because it's going to take some amount of time before we can migrate kafka-delta-ingest to arrow2.

[2021-09-12 18:35] houqp commented on #310
If arrow2 feature flag is not possible, we can also maintain an official arrow2 branch

[2021-09-12 19:14] ritchie46 commented on #310
Great! Polars already runs great on arrow2, and this way, I hope to improve third party support as well. :)

Yes, I don't know how deep embedded arrow is in delta-rs?

[2021-09-12 19:18] houqp commented on #310
It's not deep, I think the migration should be pretty straight forward. The hard part is isolating it into a feature flag so we can support both arrow and arrow2 in the short term.

[2021-09-13 13:51] wseaton commented on #310
Would love to see this (specifically an arrow2 feature flag), could consolidate a lot of my custom code around parquet partitioning and writing to object storage + gain the benefits of delta lake on top of that.

[2021-09-16 11:56] akshay26031996 commented on #424
Hey, can I have this issue? I am thinking of the following approach.

First find the position of the file to remove.
[code]
[It will stop processing as soon as it finds a true.](https://doc.rust-lang.org/std/iter/trait.Iterator.html#method.position)

Then we can just use the index from above to remove the element from files.
[code]

[2021-09-16 15:22] houqp commented on #424
Looks good to me, @akshay26031996 assigned the issue to you.

[2021-09-17 12:06] zijie0 opened #433 "Open delta table failed with special partition paths."
# Environment

**Delta-rs version**: 0.4.1

**Binding**: Rust

**Environment**:
- **Cloud provider**: N/A
- **OS**: Windows 10/Ubuntu 20.04
- **Other**: Spark 3.0.3 + delta 0.8.0

***
# Bug

**What happened**:

When reading delta tables with special partition values (such as "A/A", "B B"), the returned files list is incorrect. We will get `FileNotFoundError` error while reading this kind of tables

[2021-09-18 05:40] dispanser opened #435 "Reduce memory footprint"
# Description

I've been playing with a relatively large delta table recently, in the context of #425 (ignore tombstones for readers).

While the 5.3 million file paths themselves occupy about 600M, the overall memory consumption of a small rust program after loading the delta table adds up to 49.4G.

Here's the memory consumption for the various fields in `action::Add`, on that table with 5.3 mil

[2021-09-18 12:29] mgill25 commented on #435
I did some memory inspections. Just in case anyone else is working from a Mac (@dispanser uses Arch):

I tried to reproduce this and was very confused because my `htop` did not show high memory usage. I was expecting the program with the same large dataset to blow up/or at least be OOM-killed. But turns out both Memory Compression and Swap played a role in displaying an incomplete picture (as far

[2021-09-18 17:56] #424 closed

[2021-09-18 18:59] houqp commented on #435
I also think there is room to reduce the memory usage by 10x. I would drop all of stats, stats_parsed, partition_values and parsed_partition_values in memory. Both stats and partition values can be stored in a columnar format, e.g. arrow record batch, which should also help with applying filter push down on table scan.

[2021-09-19 10:30] mgill25 commented on #435
@houqp @dispanser I'll try to do some refactoring and see what I can come up with. The First approach would be exactly as you suggest, just try to store the fields using record batches. I hope to make _some_ progress (first time digging into the codebase) but I'll ask for advice here if I get stuck :)

[2021-09-20 04:14] houqp opened #437 "Checkpoint should also merge old versions"
# Description

**Use Case**

In the reference implementation, `delta.logRetentionDuration` is to control how old delta table commit logs are being purged during checkpoint. We should do the same thing for our checkpoint implementation as well otherwise the log folder will grow indefinitely.

**Related Issue(s)**

[2021-09-20 04:14] houqp commented on #437
cc @mosyp @xianwill

[2021-09-20 04:43] #433 closed

[2021-09-20 04:57] houqp commented on #435
Thanks @mgill25 , let us know if you need any help :)

[2021-09-20 23:23] MrPowers opened #438 "DeltaTable class name collision"
# Description

We're working on building a Dask Delta Lake reader.  I was writing an integration test that wrote out a Delta Lake with [delta](https://github.com/delta-io/delta) and read it in with [delta-rs](https://github.com/delta-io/delta-rs).  The test was behaving unexpectedly because `DeltaTable` is defined in both repos.

I don't think these libraries will normally be used in conjunction,

[2021-09-20 23:45] houqp commented on #438
Thanks @MrPowers for the report. The concern of SEO is certainly valid. I also don't have a good solution in mind. You are right that they aren't intended to be used in conjunction. For the rare case that they need to be used together, we will simply have to rely on python package namespace or import one of the DeltaTable with alias.

Another way to look at this could be viewing `DeltaTable` as a

[2021-09-21 10:20] dispanser opened #441 "Datafusion table provider: issues with timestamp types"
In a recent attempt to write a where clause on a time stamp column in one of my favorite delta tables, I was not able to express that condition in delta-rs / datafusion. I believe this is due to a mismatch between the logical field type recorded in the delta log (and delivered to datafusion by delta-rs) and the expectation of datafusion to find the actual physical column type in the schema.

Concr

[2021-09-21 17:35] dispanser opened #442 "Non-linear performance for large size of delta log"
In an attempt to create a delta table for #425, I attempted to load a relatively large delta log containing ~ 700k add actions and 9.5million remove actions.

Load performance is extremely slow, and it gets worse the farther inside the load we progress. I've logged the time it takes to handle each separate checkpoint file:

[code]

It's seems that the load becomes slower and slower the more action

[2021-09-21 17:36] dispanser commented on #442
I'm willing to look into this tomorrow, this seems relatively easy to fix (based on the assumption that my analysis above is correct).

[2021-09-21 18:32] dispanser commented on #442
I disabled the line containing the `retain` just to make sure I"m not staring at the wrong line.

[code]

[2021-09-22 04:12] dispanser commented on #435
Tombstones have a similar structure and suffer from the memory consumption problem to some extend, having a field `pub partition_values: HashMap<String, Option<String>>` that's contributing to the overall memory consumption of tombstones considerably.

If we find an efficient way to represent `Add` operations, it would be great if that is also applied for tombstones in a later PR.

[2021-09-22 04:24] houqp commented on #435
Good call @dispanser for tombstone, i think we can further optimize it by remove all other fields and only keep path and deleted_timestamp. I don't think we need access for other fields for vacuum.

[2021-09-22 04:37] houqp commented on #442
I was thinking about the same thing while reviewing https://github.com/delta-io/delta-rs/pull/431. We should definitely apply action state change in batch instead of one at a time.

[2021-09-22 04:41] houqp commented on #442
I think you just found a bug in our checkpoint implementation ;) Based on https://github.com/delta-io/delta/blob/master/PROTOCOL.md#action-reconciliation, this should never happen. cc @xianwill @mosyp this unnecessarily increased our checkpoint size.

[2021-09-22 05:40] dispanser commented on #442
If add / remove for the same file could be in one checkpoint, the final state would depend on the order of observing them. I'm glad the spec does not allow that.

I completely missed #431 btw, good that there's already something done. I repeated my tests with the newest revision, but it doesn't seem to change anything, probably because none of the remove action actually matches any of the add acti

[2021-09-22 05:55] houqp commented on #442
That's quite strange. This means we commit a remove action immediately after a file has been added? Anyway, I think this won't be a problem anymore once we move to batch update.

BTW, I am not actively working on these performance issues because I assume you are interested in solving them. If that's not the case, please let me know, I will be more than happy to help.

[2021-09-22 06:02] dispanser commented on #442
I try to formulate better: when loading a checkpoint, we never have a "remove" that matches an "add", because they'd be part of the same checkpoint, so the optimization from #431 can't be applied. Every add is kept, so the search (`retain`, or `index` computation in the newest revision) does not find a matching entry so it has to search `state.files` until the very end and does not modify it.

Ind

[2021-09-22 06:11] houqp commented on #442
Oh, i see. Yeah, for a valid checkpoints, this optimization would have no effect. It only works for incremental version upgrades.

[2021-09-22 06:46] houqp commented on #441
There are two problems here. The first once is datafusion is not doing more automatic type casting for your queries, which we really should. So please file an upstream ticket for that :)

The bigger problem is like you said our datafusion/arrow integration is not working correctly. We have the schema hardcoded to int96 nanosecond because that's what spark writes out by default: https://github.com/

[2021-09-22 13:40] dispanser commented on #425
Now that I'm able to load my large tombstone-filled delta table, I plan on revisiting this issue. Still considering myself new to rust, I'm wondering how this feature could be represented in the public API. I assume that `pub async fn open_table(table_uri: &str)` and related functions form the public interface. If this was scala, I'd just tuck on an additional method parameter `ignoreTombstones: B

[2021-09-22 14:44] mosyp commented on #441
From delta log https://github.com/delta-io/delta/blob/master/PROTOCOL.md#primitive-types

From my personal delta-rs / spark interop, microsecond is the correct precision for timestamps which works with spark.

[2021-09-23 04:45] houqp commented on #441
micro second is the right type to use for delta table's schema, but we need to update our pyarrow and datafusion integration to work with parquets that are written with both nanosecond and microsecond timestamp types.

[2021-09-23 04:57] houqp commented on #425
How about adding a new config value to https://github.com/delta-io/delta-rs/blob/main/rust/src/delta_config.rs? Then we can pass in the full table config as an optional argument. We will have to either introduce breaking API change or add new functions. I am fine with us introducing breaking API change at current stage of the project.

Another pattern I have seen from other projects is builder str

[2021-09-23 05:35] dispanser commented on #425
Thanks, @houqp ! I'll be looking into the builder pattern. As an added bonus, we can keep the top-level entry points for backwards-compatibility, by having them use that config mechanism.

[2021-09-23 06:50] houqp commented on #425
https://github.com/apache/arrow-datafusion/blob/master/datafusion/src/logical_plan/builder.rs is a good example of how the builder pattern works in real world.

[2021-09-24 21:36] #442 closed

[2021-09-26 16:02] mgill25 commented on #435
@houqp and @dispanser Just to provide an update here, I have _some_ working code, with no doubt lots of enhancements to be done.

On the plus side, I can read `stats_parsed` , and then make record batches out of them for any provided columns. On the negative side, I'm still working with the assumptions of i64s as data types (to make the testing easy). I'll do some clean up tomorrow and post a gist

[2021-09-26 17:13] houqp commented on #435
@mgill25 please feel free to send a draft PR directly if you prefer, we can comment and iterate there.

[2021-10-05 00:08] MrPowers commented on #438
@houqp - I'm building a [dask-interop](https://github.com/MrPowers/dask-interop) project that writes out Delta files with Spark and reads them in with delta-rs.  I just created different conda environments as a work-around.  Not ideal, but like you mentioned, not a common issue, so think it's fine as-is.

On a happy note, I was able to use the delta-rs API to easily read a Delta table into a Dask

[2021-10-05 00:08] #438 closed

[2021-10-05 03:56] houqp commented on #438
Interesting, @MrPowers do you have to create a separate conda env? Shouldn't the `DeltaTable` class namespaced by the python package?

[2021-10-10 05:44] houqp opened #455 "Add back removed file doesn't update tombstone"
# Environment

**Delta-rs version**: all

**Binding**: all

***
# Bug

**What happened**:

Consider the following commits in order:

1. add file1
2. remove file1
3. add file1

Based on https://github.com/delta-io/delta/blob/master/PROTOCOL.md#action-reconciliation, the 2nd add action should clear file1 from tombstone. But this is not the case in delta-rs today. file1 will be stored in both file li

[2021-10-11 15:15] langelgjm opened #457 "Cannot read a streaming Delta table with a watermark"
# Environment

**Delta-rs version**:
rust-v0.4.0, rust-v0.4.1 (head)

**Binding**:
rust

**Environment**:
- **Cloud provider**: AWS
- **OS**: Linux / OS X
- **Other**:

***
# Bug

**What happened**: Attempting to use `delta-rs` to read a streaming Delta table with a watermark fails with "Error: Failed to apply transaction log: Invalid JSON in log record"

**What you expected to happen**: `delta-rs

[2021-10-12 05:19] houqp commented on #324
Native reader would be a more consistent route because the ADLS credential config users set for the delta table can be reused for the object read as well. That said, I recommend pick the route that you feel most confident to begin with. If you want to go the native reader route, I think you just need to implement a filesystem interface, which works at lower level than arrow data stream: https://ar

[2021-10-13 05:44] houqp commented on #324
I think we should be able to implement the fs interface needed by pyarrow entirely within the python binding crate leveraging the existing StorageBackend API from the rust core. We don't need to implement the write path, just supporting read is a good starting point.

[2021-10-13 08:17] roeap commented on #324
Thanks, I think i have a clear enough picture now to get started.

[2021-10-13 17:37] #455 closed

[2021-10-14 23:29] houqp opened #460 "Support hash lookup by path string for Remove action"
# Description

Follow up on https://github.com/delta-io/delta-rs/pull/456/files#r727686841.

**Use Case**

We could avoid building a hashset of strs in `DeltaTableState::merge` method if we could check for hash collisions in `HashSet<Remove>` using `Add.path`.

Turns out Rust's builtin HashSet is already designed with this use-case in mind, we just have to implement an extra Borrow trait for `Remo

[2021-10-14 23:45] viirya commented on #460
Interesting. Yea, I will take this. Thanks @houqp !

[2021-10-14 23:51] houqp opened #461 "Safe guard DeltaTableState using Rust's type system"
# Description

**Use Case**

Follow up for https://github.com/delta-io/delta-rs/pull/456#issuecomment-941926489.

When we call `process_action` on a particular DeltaTableState, we need to make sure the passed in actions do not cross commit boundaries. We can restructure our code to have the Rust compiler to guarantee this property for us at build time.

Here is what I have in mind:

* Move `proces

[2021-10-16 05:26] dispanser commented on #461
@houqp : Nice idea!

I can see how this creates initial `DeltaTableState` in a consistent manner and protects it from feeding arbitrary actions from multiple commits or in the wrong order etc. I assume the `merge` operation (or some equivalent functionality) is still required, because we'd still need to add new commits to existing state.

I think we would be able to show / prove that a table state

[2021-10-16 05:48] houqp commented on #461
Yes, merge is still required, what's proposed in this issue is just to make sure merge always receives a validate DeltaTableState.

I think this is a really cool idea!

Yes, you are right. This also restricts how much we can parallel the action apply :( I think it's fair to say we can only parallel action application by partitioning actions within a checkpoint or commit. In other words, state merg

[2021-10-16 07:08] ritchie46 commented on #310
I got bounced on the arrow2 migration. It was not so trivial to feature gate indeed. So that would probably need a separate branch?

[2021-10-16 07:39] houqp commented on #310
@ritchie46 I actually got something mostly working 2 weeks ago, but got distracted with datafusion and roapi so wasn't able to complete the PoC. Let me try to get something pushed out this weekend so we can take a look at it together to see if that's the right path forward.

[2021-10-17 07:29] #460 closed, assigned to viirya

[2021-10-18 05:28] houqp opened #466 "Prevent invalid remove action during deserialization"
# Environment

**Delta-rs version**: all

**Binding**: all

***
# Bug

**What happened**:

Follow up for https://github.com/delta-io/delta-rs/pull/450/files#r723861467. It looks like we could end up with invalid remove action that has both `size=null` and `extended_file_metadata=true`. This should never happen according to the delta spec.

**What you expected to happen**:

In memory remove action

[2021-10-18 11:28] mosyp commented on #466
I like the idea with the separate struct. As for the repro steps, only in the isolated way as in this test https://github.com/delta-io/delta-rs/blob/main/rust/tests/checkpoint_writer_test.rs#L174-L195

[2021-10-18 11:33] mosyp commented on #466
Some context for the repro steps. The very first implementation of delta-rs checkpoint creation has missing this code https://github.com/delta-io/delta-rs/blob/abd0aaf7801d0ca53844caf94381424f93808dac/rust/src/checkpoints.rs#L186-L191. Which is `setting extended_file_metadata=false` if at least **one** tombstones has no metadata. Since this mapping was missing before, we end up with removing metad

[2021-10-18 13:13] cmoad opened #468 "0.5.3 fails to install on MacBook Pro (13-inch, M1, 2020)"
# Environment

MacBook Pro (13-inch, M1, 2020)

**Delta-rs version**:  0.5.3

**Binding**:

**Environment**: Local environment w/Python 3.9.7
- **Cloud provider**: n/a
- **OS**: MacOS
- **Other**:

***
# Bug

deltalake python module fails to install on M1 (arm64) Mac.

[code]

**What happened**:

Pip install fails.

**What you expected to happen**:

Module to successfully install.

**How to reprod

[2021-10-19 05:47] houqp commented on #466
Thanks @mosyp for the explanation, I am still not fully following this line.

How does us removing `extended_file_metadata` in schema incorrectly resulting some of the remove actions having `size=null` and `extended_file_metadata=true`? Shouldn't it be `size=Some(x)` and `extended_file_metadata=null` instead?

[2021-10-19 12:23] dungdm93 opened #469 "Java binding for `delta-rs`"
Hello Delta community, thanks for create a great table format.

It's just a random idea, but it's nice, I think.
Current [`delta`](https://github.com/delta-io/delta) implementation depends on to Spark, which means there are a lots of others use-cases as Kafka Sink Connect, Flink, Trino/Presto,... which requires both read and write into delta table are now impossible.
In the other hand, `delta-rs`

[2021-10-20 03:12] houqp commented on #469
@scottsand-db is working on write support for the native java implementation at https://github.com/delta-io/connectors/tree/master/standalone/src. So it's better to focus on that effort instead.

[2021-10-20 03:12] #469 closed, assigned to nobody

[2021-10-21 14:54] kelvins opened #470 "GCS support not working properly for Python binding"
# Environment

- **OS**: Ubuntu 16.04.7 LTS
- **Binding**: Python
- **Python Version**: 3.8.5
- **deltalake**: 0.5.3
- **pyarrow**: 5.0.0

***
# Bug

**What happened**:

GCS support was recently included to `delta-rs` but when trying to read a delta table directly from GCS, using Python bindings, I'm getting the following error:

[code]

To be honest, I'm not sure if the Python bindings v0.5.3 is

[2021-10-22 04:40] houqp commented on #470
@kelvins could you try this development build step instead? https://github.com/delta-io/delta-rs/tree/main/python#ready-to-develop-with-maturin. When you build it from source, make sure you are passing in `--features=gcs` argument.

[2021-10-23 15:40] zijie0 opened #472 "Support more compare operators in partition filters."
# Description

In Delta project, we can support partition filters with "greater than" or "less than" operators. For example in the document here: https://docs.delta.io/latest/delta-batch.html#overwrite

[code]

The above code could replace the data in all the partitions between '2017-01-01' and '2017-01-31'.

But currently in delta-rs, we only support "equal", "not equal", "in" and "not in":

[cod

[2021-10-25 02:15] zijie0 opened #473 "Reading table with wrong partition column does not return any error"
# Environment

**Delta-rs version**: 0.4.1

**Binding**: Python 0.5.3

**Environment**:
- **Cloud provider**: N/A
- **OS**: Windows/CentOS
- **Other**: N/A

***
# Bug

**What happened**:

Reading delta table with wrong partition column would return empty dataframe.

**What you expected to happen**:

Should throw error/warning.

**How to reproduce it**:

[code]

[2021-10-25 21:30] #470 closed, assigned to nobody

[2021-10-26 11:37] boonware opened #477 "[Python] How to authenticate with S3 backend?"
Is there documentation available on how to authenticate with the backend provider, in particular S3? For example, the Python library documentation omits and reference to authenticating with a remote backend and only provides examples for local tables: https://delta-io.github.io/delta-rs/python/usage.html

[2021-10-26 16:06] rtyler opened #480 "Cut 0.5 Rust crate"
Need to create a new release branch from 0.4 and then try to merge the latest `main` into it. We cannot release with Azure SDK for Rust yet.

Arrow 6.0.0 should be updated in the `Cargo.toml` first

This issue should be closed once we have published a 0.5.0 release to crates.io

[2021-10-27 03:33] #473 closed, assigned to nobody

[2021-10-28 17:06] dennyglee opened #481 "Create Golang bindings for Delta Rust API"
# Description
Just like the Python and Ruby bindings, it would be great if we could have Golang bindings.

**Use Case**
Allow clients use Golang to connect to Delta tables

**Related Issue(s)**

[2021-11-02 04:31] #472 closed

[2021-11-02 20:04] viirya opened #488 "Cargo build not work due to "field is never read: `root`""
# Environment

**Delta-rs version**: current main branch

**Binding**: rs

**Environment**:
- **Cloud provider**:
- **OS**:
- **Other**:

cargo 1.58.0-nightly (6c1bc24b8 2021-10-24)
rustc 1.58.0-nightly (db062de72 2021-11-01)

***
# Bug

**What happened**:

rust compiler begins to complain about this recently:

[code]

I don't see this in few days ago.

**What you expected to happen**:

`cargo bui

[2021-11-03 11:11] MironAtHome commented on #97
Как насчет поправить документацию?
Наверное стоит подновить с вот этого
![image](https://user-images.githubusercontent.com/18360184/140049963-8e265274-7faf-4c8c-b70d-325501400845.png)
на вот это?
![image](https://user-images.githubusercontent.com/18360184/140050299-8bddf34b-6994-4be0-953d-200724b3621a.png)

[2021-11-03 11:55] MironAtHome commented on #98
While vacuum is a big step forward, it does not obviate need for optimize. These two commands have different purpose, and ( looking further out ) optimize will eventually become part of either batch or background worker, continuously operating with lower priority, as is common to all relational engines.

[2021-11-04 01:18] houqp commented on #488
Rust compiler often adds new linting rules on version updates, I think this is a valid warning and it should be safe to remove the root field.

[2021-11-05 14:10] thovoll opened #489 "Support writes to Azure Storage"
# Description
The delta-rs Azure Storage backend currently doesn't support write operations:
https://github.com/delta-io/delta-rs/blob/50a53cad084f2aa65ed0d6c0f1f5ad620a785530/rust/src/storage/azure.rs#L1
As a result, Delta Tables can not be written to Azure Storage.

Several methods need to be implemented:
https://github.com/delta-io/delta-rs/blob/50a53cad084f2aa65ed0d6c0f1f5ad620a785530/rust/src

[2021-11-08 19:21] boonware opened #491 "Errors reading table from IBM COS"
# Environment

**Delta-rs version**: '0.5.3'

**Binding**: Python

**Environment**:
- **Cloud provider**: IBM Cloud (S3-compatible Cloud Object Storage API).
- **OS**: Linux
- **Other**:

***
# Bug

**What happened**:
* I run my application with the following environment variables: `AWS_ACCESS_KEY_ID`, `AWS_SECRET_ACCESS_KEY` and `AWS_ENDPOINT_URL=https://s3.us.cloud-object-storage.appdomain.cloud

[2021-11-09 12:39] roeap commented on #489
I am considering looking into this once (if :)) #486 gets merged. MY assumption would be that `delete_obj` and `put_obj` could be implemented without the need for hierarchical namespaces enabled. However I am still a bit confused what constitutes gen2... As far as I understand, the *.dfs.core.windows.net endpoint is available on all recent (v2) storage accounts, if HNS is enabled, it becomes ADLS

[2021-11-09 14:11] thovoll commented on #489
Thanks @roeap, that would be awesome. Your assumptions above are all correct. Only HNS supports atomic renames, which will obviate the need for [the lock service that we have to use for S3](https://github.com/delta-io/delta-rs/blob/50a53cad084f2aa65ed0d6c0f1f5ad620a785530/rust/src/storage/s3/mod.rs#L614).

[2021-11-09 15:14] thovoll commented on #489
PR for #60 is #492

[2021-11-09 15:25] roeap commented on #489
@thovoll, thanks for the pointers, and excited to see that the azure-sdk-for-rust repo seems to see some increased activity recently - I'm guessing pushing for a release of the crates... hopefully we can bring the azure support throughout the arrow-rust-data-ecosystem en par with S3 :).

[2021-11-10 04:51] thovoll commented on #489
Keep track of ADLS Gen2 support in the Azure Rust SDK here: https://github.com/Azure/azure-sdk-for-rust/issues/496

[2021-11-10 16:40] boonware commented on #203
@rtyler Was the problem you outlined accurate in the end? According to the description I am encountering a similar problem, see https://github.com/delta-io/delta-rs/issues/491

[2021-11-11 08:35] boonware opened #493 "[Python] Cannot import error class PyDeltaTableError"
# Environment

**Delta-rs version**:
0.5.3

**Binding**:
Python

***
# Bug

**What happened**:
1. An error was thrown (cause unimportant):
[code]
2. I used the error class name from the stacktrace to import that error and catch it:
[code]
3. My code fails as the error class cannot be imported:
[code]

**What you expected to happen**:
I can import the error class and use it in my code.

[2021-11-11 08:37] boonware commented on #491
Closing this as I eventually figured out that it was down to misconfiguration of my bucket path. The error message is misleading.

[2021-11-11 08:37] #491 closed

[2021-11-11 15:40] zijie0 opened #495 "Could not read partition values correctly with special characters in partition column name"
# Environment

**Delta-rs version**: 0.4.1

**Binding**: Python

**Environment**:
- **Cloud provider**: N/A
- **OS**: Windows/Ubuntu

***
# Bug

**What happened**:

When reading partitioned tables with special characters in partition column name, the partition column would get NaN values.

**What you expected to happen**:

Could be able to read these tables and got the same results with native Spa

[2021-11-12 14:15] thovoll opened #497 "[Discussion] Improve Azure e2e/integration testing"
# Description

Currently, there is an [ignored](https://github.com/delta-io/delta-rs/blob/222837cf8f5e09379472ce2ad1c5db0d5bc8a9b6/rust/tests/azure_test.rs#L9) test for Azure Storage that [relies on @rtyler's Azure Resources](https://github.com/delta-io/delta-rs/blob/222837cf8f5e09379472ce2ad1c5db0d5bc8a9b6/rust/tests/azure_test.rs#L4).

I propose the following incremental improvements:
1) short t

[2021-11-14 00:22] #493 closed

[2021-11-14 00:46] houqp commented on #495
@zijie0 could you check if `dt.pyarrow_schema` contains the right partition column name? The path generated by spark looks correct to me. The path needs to be uri encoded, that's why `%20` is saved as `%2520`. Pyarrow's hive partitioning implementation by default does uri decode as well: https://github.com/apache/arrow/blob/caf1e1ed459e2c6ff66255fc915a5a7b16c0f5c5/python/pyarrow/_dataset.pyx#L2283

[2021-11-14 06:16] zijie0 commented on #495
@houqp `dt.pyarrow_schema` contains the correct partition column name:

[code]

I think we pass the correct file paths and schema to Pyarrow but the partition column values are inferred by Pyarrow:

https://github.com/delta-io/delta-rs/blob/36d56ecfcf1046ba29ff26dd17e207c6419ead4f/python/deltalake/table.py#L282-L288

I'm not sure if we need to do some modification to the partitioning parameter in

[2021-11-15 02:29] houqp commented on #495
Looking at the upstream arrow code, I think it's only doing url decode for partition value, but not the column name? https://github.com/apache/arrow/blob/e5f3e04b4b80c9b9c53f1f0f71f39d9f8308dced/cpp/src/arrow/dataset/partition.cc#L593-L596.

@zijie0 can you try creating the dataset without providing the pyarrow schema to confirm whether this is the case?

Ideally, we shouldn't depend on the file p

[2021-11-15 02:59] houqp commented on #497
Thanks @thovoll , I agree with both points. The replay based mocking method looks quite interesting :+1:

[2021-11-15 07:21] houqp commented on #489
do we know if the atomic rename in gen2 api is a cheap pointer change or will actually require data copy behind the scene? If it's the latter, we might be better off using simple put if absent semantic instead. @blogle started a good discussion around this redesign in [slack](https://delta-users.slack.com/archives/C013LCAEB98/p1628289773019100?thread_ts=1628117972.015100&cid=C013LCAEB98) for the G

[2021-11-15 14:55] thovoll commented on #489
Yes, _file rename_ is a cheap and atomic operation in ADLS Gen2.

[2021-11-15 14:58] thovoll commented on #489
FYI, we now have the required operation in the Azure Rust SDK that enables us to implement `rename_obj_noreplace` in the delta-rs Azure Storage backend:
https://github.com/Azure/azure-sdk-for-rust/pull/506

I know #486 is ready to merge now, so we will be able to start working on this soon.

[2021-11-16 00:07] mgabs commented on #488
I'd take a stab at this.

[2021-11-16 00:20] mgabs commented on #488
rust member lib is compiling fine, ruby however is throwing the following warnings.
[code]

[2021-11-16 06:21] zijie0 commented on #495
@houqp you are right, arrow doesn't decode the column name:

[code]

[2021-11-16 06:33] houqp commented on #495
Thanks @zijie0 for the deep dive :)

Unfortunately there is no quick and easy way to fix this. The two options that come to my mind are:

1. Fix this in upstream pyarrow, add partition name url decode in their c++ core.
2. Do it properly in delta-rs by performing the io and arrow record batch conversion entirely in rust, where we will be able to populate partition values using table metadata inste

[2021-11-16 07:26] #149 closed

[2021-11-16 07:26] #255 closed

[2021-11-16 08:52] #437 closed

[2021-11-17 08:52] kesavkolla commented on #232
Any update on this? I would really love to see an ability to do filter on the tables.

[2021-11-18 06:36] houqp commented on #232
Databricks still hasn't open-sourced this feature I believe.

[2021-11-18 20:58] viirya commented on #232
So this is only doable after Databricks open-souces or at least releases the official spec, right?

[2021-11-18 21:03] houqp commented on #232
welp, we can always reverse engineer the format if anyone is interested in doing that :D

[2021-11-26 07:59] devilaadi opened #504 "Access Issue"
HI,

I am facing authorization issue while loading table.

   **self._table = RawDeltaTable(table_uri, version=version) deltalake.PyDeltaTableError: Failed to load checkpoint: Failed to read checkpoint content: Generic error: HTTP error status (status: 403, body: "\u{feff}<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthorizationFailure</Code><Message>This request is not authorized to pe

[2021-11-26 19:30] nsulikowski opened #505 ".NET API please"
# Description
Can you add a .NET API?

[2021-11-28 13:31] roeap opened #509 "High-level writer API"
# Description

Recently I have been trying to understand the current state of writer implementations for `delta-rs` and what could be the desired state for a high level writer API. All of it in the hopes to contribute to this effort. Looking into this it seems to me there can be a wide range of complexity for a potential implementation - from complex to very complex :D.

This may be already a too

[2021-11-29 11:36] roeap commented on #504
hi @devilaadi, as per our discussion on slack, can this issue be closed?

[2021-11-29 12:38] zijie0 opened #511 "Action value for HashMap in parquet could be null"
# Environment

**Delta-rs version**: 0.4.1

**Binding**: Rust

**Environment**:
- **Cloud provider**: N/A
- **OS**: Windows/Ubuntu

***
# Bug

**What happened**:

When reading delta table with null partition values from checkpoint file would fail with error: `InvalidField("Invalid partitionValues for add action: value for HashMap in parquet has to be a string")`.

**What you expected to happen**:

[2021-11-29 13:51] andrei-ionescu opened #513 "Cannot create a new delta table with nested structures like lists and maps in the schema"
# Environment

**Delta-rs version**:
Latest from git as dependency is defined as a git url. Current git commit is: https://github.com/delta-io/delta-rs/commit/52d20984dd6c59c6559dbec010c2d9aa49a78877.

**Binding**:

**Environment**:
- **Cloud provider**: N/A
- **OS**: macOS Monterey
- **Other**: -

***
# Bug

**What happened**:

Unable to create a new delta table with nested structures like lists

[2021-11-30 12:47] mosyp opened #514 "Retry every S3 request on 5xx server errors"
The 5xx server errors for s3 have to be retried, however rusoto has no such feature. See discussion https://github.com/delta-io/delta-rs/pull/510#issuecomment-981887975 for more details.

[2021-11-30 23:23] andrei-ionescu commented on #489
I just want to let you know there is another 3rd party Azure SDK implementation here - https://crates.io/crates/azure_sdk_for_rust - and it has crates released.

[2021-12-01 04:45] matthewmturner opened #515 "Add documentation for using Delta Table with datafusion"
# Description
As a user of delta-rs I would like to see examples of how to use the datafusion extension to query delta tables in the rust docs.

This would include examples for querying both local and s3 delta tables.

**Use Case**

**Related Issue(s)**

[2021-12-01 10:19] roeap commented on #489
I think these crates are actually the foundation for the development going on under the Azure github org right now. If you go to the repo, you'll see a notice that they migrated. Looking at the efforts in the new repo, they are working hard on stabilizing APIs and hopefully soon cutting a 0.1 release.

[2021-12-01 11:16] zijie0 commented on #300
@houqp I did some search on HDFS libraries for Rust and found this caret: https://crates.io/crates/fs-hdfs . But it seems to have a lot of dependencies to run. Do you have any suggestions on this?

[2021-12-02 02:07] houqp commented on #300
@yjshen wrote a wrapper for libhdfs3: https://github.com/datafusion-contrib/datafusion-hdfs-native. This one is a lot leaner since it only has a c++ dependency. Perhaps you can work with him to convert that binding into its own crate? Right now it's coupled with the datafusion hdfs object store implementation.

[2021-12-02 05:28] zijie0 commented on #300
Good to know that. @yjshen do you have time to convert your work into a new crate? It would be very helpful for other Rust projects too.

[2021-12-02 06:34] houqp commented on #513
good catch @andrei-ionescu , do you mind sending a PR to implement what you suggested?

[2021-12-02 06:46] houqp commented on #509
I think you are spot on with your analysis @roeap :) I don't have much to add. In step 3, we can also include `optimize`. I also think it would be a good idea to use arrow record batches as the input serialization format.

[2021-12-02 06:48] houqp commented on #509
I want to take it very far, to the point where we can use it to process delta tables in a distributed setup using systems like ballista ;)

[2021-12-02 07:04] houqp commented on #505
We don't have this use-case internally, but PRs are very welcome.

[2021-12-02 11:26] andrei-ionescu commented on #513
@houqp The PR is created and ready for review. Thanks for the opportunity.

[2021-12-02 19:19] #513 closed

[2021-12-03 03:00] yjshen commented on #300
@houqp Do you think datafusion-contrib is the right place to hold this hdfs rust repo?  or should I make it under my account?

[2021-12-03 04:33] houqp commented on #300
@yjshen up to you, since you are the author :)

[2021-12-05 08:36] viirya commented on #514
I think this can be closed now?

[2021-12-07 07:03] houqp commented on #514
@viirya i think this issue tracks the work to make the retry more robust. Right now the current retry logic is a busy loop without sleep and exponential backoff. We might want to apply the retry more generally to other S3 api calls as well.

[2021-12-07 08:11] zhujunyong opened #520 "history() function returns an incomplete history list"
# Environment

**Delta-rs version**:
0.5.4
**Binding**:
python 3.9.7
**Environment**:
- **Cloud provider**:  IBM
- **OS**: CentOS
- **Other**:

***
# Bug

**What happened**:
The length of the return result of the history function is always between 0 and 9, even if the actual length is greater than 9.

**What you expected to happen**:
return all the history list within 30 days(default `logRetention

[2021-12-08 20:45] thovoll commented on #489
@roeap @houqp what do you think about the auth methods we should support?

After #486 we have:
- Static auth: shared key, shared access signature (SAS), and connection string (shared key)
- Auto-refreshing auth based on DefaultAzureCredential

None of these should be used in production applications in my opinion, for various reasons. The static methods present key rotation and authz challenges. De

[2021-12-09 03:16] houqp commented on #489
Thanks for starting this discussion @thovoll . I think we should definitely have first class support for AMI due to production requirements. @thovoll does Azure sdk support the concept of credential chain? Basically the way it works for AWS is the client will automatically identify the best auth method based on provided environment variable and credential config file across different languages and

[2021-12-09 07:28] zhujunyong opened #521 "load_with_datetime(datetime_string) throw error message when delta table is created for more than 60 days(twice the default value of logRetentionDuration)"
# Environment

**Delta-rs version**:
0.5.4
**Binding**:
python 3.9.7
**Environment**:
- **Cloud provider**: IBM
- **OS**: CentOS
- **Other**:

***
# Bug

**What happened**:
`load_with_datetime(datetime_string)` function always throws error message when the specific detla table is created for more than 60 days.

[code]

**What you expected to happen**:
load the corresponding version and don't throw

[2021-12-09 08:08] roeap commented on #489
The DefaultCredential we use is an credential chain. Only authorization via KEY or or SAS is not part of this chain. I am not sure about priorities in the chained credential, but assume this can be either configured or achieved with a simple custom credential.

[2021-12-09 14:20] thovoll commented on #489
Correct, [default credential chain](https://github.com/Azure/azure-sdk-for-rust/blob/7ac58a21003eb1f7c74b746c1d08dd9390d7fbe7/sdk/identity/src/token_credentials/default_credentials.rs#L134) from the Azure Rust SDK can be configured but it's still rudimentary, also in terms of the methods it supports. There's no custom chain in the Azure Rust SDK yet but the Azure .Net SDK for example has more comp

[2021-12-09 15:03] thovoll commented on #489
As for a concrete long-term proposal (long-term because the Azure Rust SDK doesn't fully support this yet):
* Take `TokenCredential` as a parameter in `delta-rs` and pass it to the `DataLakeClient` (not possible yet but [here](https://github.com/Azure/azure-sdk-for-net/blob/c5738f34a5ded5bf4b49e380a8eec179e12a1c6b/sdk/storage/Azure.Storage.Files.DataLake/src/DataLakeServiceClient.cs#L264) is what

[2021-12-09 15:13] thovoll commented on #489
As for a concrete short-term proposal:
* Obtain a token (via `DefaultAzureCredential`) in `delta-rs`
* Pass the token to `DataLakeClient` (this is the only method supported by the Azure Rust SDK at the moment)
* This is the quickest way to enable writes to Azure Storage.
* Improve from there, i.e. re-implement auto-refreshing credentials and everything else mentioned above over time.

[2021-12-09 16:58] matthewmturner opened #522 "Improve DataCatalog documentation"
# Description
I would like better documentation / user guides on how to use `DataCatalog`, in particular from AWS / Glue, in both Rust and Python

**Use Case**
I am already using AWS Glue / Athena and i am starting to explore if datafusion / deltalake can be used instead.

**Related Issue(s)**

[2021-12-09 17:10] fvaleye commented on #522
Hello @matthewmturner,

Thanks for submitting your issue!

Did you already see this [documentation page](https://delta-io.github.io/delta-rs/python/usage.html#deltatable) for the Python binding? (Create a DeltaTable using a Data Catalog)

How could we improve this based on your usage?

[2021-12-09 17:11] fvaleye commented on #521
Hello @zhujunyong,

Thanks for submitting your issue and the detailled report.

I will need more time to investigate what is the root cause and I keep you updated!

[2021-12-09 17:40] matthewmturner commented on #522
@fvaleye thanks for quick response!  yes, i saw that.

being new to deltalake, and wanting to set it up (i.e. not using an existing deltalake), for me the part that was missing was general context of the relation between the DataCatalog and deltalake and how they can be used together (i.e. is anything in particular needed in the db / table glue metadata).

i had naively tried using my existing glu

[2021-12-09 18:01] matthewmturner commented on #522
Im going to look for documentation elsewhere on AWS Glue / Data Catalog and how it works with Delta Lake.  But if you think its relevant im happy to add some details here as well.

[2021-12-09 22:54] thovoll commented on #489
It's definitely doable and I'm sure many people do the same in Azure. Irrespective of how common it is, what do you think about the argument otherwise?

For S3, I think you meant this one?
https://github.com/delta-io/delta-rs/blob/cba4e3d316c56c65dc1cb660dc7e6d380ddd3a6b/rust/src/storage/s3/mod.rs#L425-L429

I'll take a closer look and try to keep it close.

Do we support auto-refreshing credentia

[2021-12-10 06:21] houqp commented on #489
Yeah, sorry @thovoll , `new_with` is the method that I was trying to use as an example. Auto refresh of credential should be supported by cloud SDK if possible.

[2021-12-10 07:02] houqp commented on #521
I think @zhujunyong is likely right. We can't do binary search starting from version 0, instead we should probably fetch all available versions through object list API, then do a binary search within that list restul.

[2021-12-10 07:25] roeap commented on #489
The way we implemented for the Azure credentials is actually heavily inspired by the internals of the rusto s3 crate 🙂.

[2021-12-10 08:41] viirya commented on #520
Yea, I think that `history` currently only returns the commit infos from current version to the latest checkpoint below the version. So for example, if the table is loaded from a checkpointed version, `history` will return empty results because checkpoint doesn't contain commit info.

I found a similar `getHistory` API  in delta JVM implementation:

https://github.com/delta-io/delta/blob/2ddff5e95

[2021-12-10 09:01] fvaleye commented on #522
Let me try to find an example of how we can load a `DeltaTable` using delta-rs with the AWS Glue Data Catalog using [OSS Delta Lake](https://github.com/delta-io/delta).

**First:**
Before writing a `DeltaTable` as a table in the Hive Metastore with Spark, you need to specify AWS Glue Data Catalog as the Metastore for your cluster:
[OSS Delta Lake documentation](https://docs.aws.amazon.com/emr/late

[2021-12-10 17:07] thovoll commented on #489
Does the AWS and GCP SDK support auto-refresh?

[2021-12-10 17:16] houqp commented on #520
yes @zhujunyong @viirya both of you you are right that we need to fetch the full history from the backing store :+1:

[2021-12-10 19:35] viirya commented on #520
Thanks @houqp . I'll take some time working on this.

[2021-12-11 06:44] houqp commented on #489
Yes, I remember the AWS SDK has an auto refreshing credential provider builtin.

[2021-12-11 17:11] matthewmturner commented on #522
@fvaleye thanks much for providing this information!  I'll review and close this for now.

[2021-12-11 17:11] #522 closed

[2021-12-13 15:43] thovoll commented on #489
I'm looking into how to best implement auto-refresh.

[2021-12-15 18:11] #515 closed

[2021-12-16 18:11] thovoll commented on #489
Ok, so auto-refresh in the Azure Rust SDK will take some time, filed an issue here: https://github.com/Azure/azure-sdk-for-rust/issues/543

In the meantime, we'll have to implement auto-refresh in `delta-rs`.

[2021-12-17 02:06] zijie0 commented on #300
Hey @yjshen , any update on this? Currently we are using MinIO on HDFS as a workaround. But it seems to be not a sustainable way: https://github.com/minio/minio/issues/13927 . We are all counting on you now :)

[2021-12-17 03:45] yjshen commented on #300
@zijie0 let's corporate here : https://github.com/datafusion-contrib/hdfs-native

[2021-12-17 05:15] zijie0 commented on #300
Cool! @yjshen

[2021-12-17 18:08] d-bhutada opened #524 "Failed to apply transaction log: Invalid JSON in log record while reading delta table"
**databricks runtime version 10.1**

**version**:
deltalake version = 0.5.3

**Binding**:

**Environment**:
- **AWS**:
- **databricks runtime**:
- **Other**:

***
# Bug

While reading the deltatable using deltalake python library, getting Failed to apply transaction log: Invalid JSON in log record error.

**What you expected to happen**:
It should read and be able to list the files. Spark.read.for

[2021-12-17 18:21] d-bhutada commented on #524
jacob@talroo.com Tagging you for notification

[2021-12-19 09:36] #186 closed

[2021-12-19 18:55] houqp commented on #524
Am I correct that removing `00000000000000000000.json` is what triggered the bug?

[2021-12-20 08:24] alexeiakimov opened #527 "Programmatic authentication for Azure"
# Description
It would be nice to provide API which allows to specify the Azure credentials in the code. Currently the Azure storage implementation only relies on the environment variables, which makes it difficult to access two independent storages in the same program. In case of AWS S3 the problem does not exists because the API allows to use a custom rusoto S3 client with a static credentials p

[2021-12-20 08:43] #520 closed

[2021-12-20 09:29] d-bhutada commented on #524
Not exactly. The error was coming when this json file was already there. I just copied it from one location to another to see if error still persists, and it does

[2021-12-20 20:18] jeisinge commented on #524
One of the issues with this defect is that it is hard to understand what is causing the issue --- which file or line in the file or property in the JSON.  Looking at the code, I couldn't figure out an easy to monkey patch it to provide more information.  If you have a way to print out this type of debug information, please let me know and I can test it!

[2021-12-21 06:47] houqp commented on #524
If you are only seeing the error message `Invalid JSON in log record`, then it's likely coming from https://github.com/delta-io/delta-rs/blob/57133e161e03a34d8902abd210dca80731ce00d1/rust/src/delta.rs#L315

You can change the error message format string to add more context like this one: https://github.com/delta-io/delta-rs/blob/57133e161e03a34d8902abd210dca80731ce00d1/rust/src/delta.rs#L111

If y

[2021-12-21 06:48] houqp commented on #524
FYI, this is the line that does the json log parsing: https://github.com/delta-io/delta-rs/blob/57133e161e03a34d8902abd210dca80731ce00d1/rust/src/table_state.rs#L50

[2021-12-22 18:24] langelgjm commented on #524
Might be related to #457

[2021-12-23 05:52] houqp commented on #524
Hopefully, because that would be a simple fix :) @d-bhutada @jeisinge could you check the content of 00000000000000000000.json to see if it matches what was reproted in #457?

[2021-12-23 13:10] d-bhutada commented on #524
The content of `metadata` is pretty big in the 0 version json file.
`{
   "createdTime":1637167337921,
   "format":{
      "provider":"parquet"
   },
   "id":"b1bea40f-cdaf-4d61-95ac-e98b875ac26c",
   "partitionColumns":[
      "date"
   ],
   "schemaString":"{\"type\":\"struct\",\"fields\":[{\"name\":\"click_publisher_id\",\"type\":\"integer\",\"nullable\":true,\"metadata\":{}},{\"name\":\"query_

[2021-12-23 13:31] langelgjm commented on #524
The linked issue is not limited to streaming, it applies whenever there is
a metadata key in a field with a non string value. I see at least one
column with non-empty metadata that has a key value pair with an integer
value:

[code]

[2021-12-23 14:01] d-bhutada commented on #524
Thanks for the answer @langelgjm Could you please share how would you set metadata keys to an empty object?
Also, when you say change any integer metadata value to string, you mean cast the integer value to string and then write the data?

[2021-12-23 14:08] langelgjm commented on #524
For debugging purposes you can edit the transaction JSON file with a text
editor and either remove the contents of the indicated metadata object, or
place quotes around the integer value.

Though I'm 99% sure it's the same issue, the metadata deserializer needs to
be fixed.

d-bhutada ***@***.***> schrieb am Do., 23. Dez. 2021, 09:01:

[2021-12-23 16:27] d-bhutada commented on #524
I have actually compared the affected json against the json of delta table that we can read using `delta-rs`. It does not have `{\"scale\":0}`. This indicates that the numeric `0` is the culprit. Looks like the same issue as #457. When can we expect a fix for this?

[2021-12-23 21:15] roeap commented on #497
I had a deeper look into the `mock_transport_framework` for the azure crates and have to say I am quite the fan :). Seeing how the azure crates are migrating to the pipeline architecture we are going to have to adopt the new APIs anyhow and the testing framework just comes with it for free.

The price we have to pay however is that we need to refactor the whole object store implementation :D, but

[2021-12-24 06:34] houqp commented on #524
Great, the fix should be really simple, probably a one line change at: https://github.com/delta-io/delta-rs/blob/57133e161e03a34d8902abd210dca80731ce00d1/rust/src/schema.rs#L57

Just replace `HashMap<String, String>` with `HashMap<String, serde_json::Value>` or `serde_json::Map<String, serde_json::Value>`. Anyone wants to give this a try?

[2021-12-26 00:31] houqp opened #528 "Support file index"
# Description

See reference implementation at https://github.com/delta-io/delta/blob/master/core/src/main/scala/org/apache/spark/sql/delta/files/TahoeFileIndex.scala.

tasks:

- [ ] read file index
- [ ] write file index

[2021-12-28 16:13] d-bhutada commented on #524
@houqp I have created a pull request with the suggested change. Please review
https://github.com/delta-io/delta-rs/pull/529

[2021-12-29 13:59] d-bhutada commented on #524
@houqp looks like the tests for the suggested changes failed. could you please suggest if there is any additional thing we need to do?
https://github.com/d-bhutada/delta-rs/blob/261833fb9105d0342e7171c1498f1705a4442771/rust/src/schema.rs#L57

[2021-12-29 15:48] oneextrafact opened #530 "Can't read Delta Lake table from GCS"
# Environment

**Delta-rs version**: 0.5.4

**Binding**:  python

**Environment**:
- **Cloud provider**: GCP
- **OS**: Linux
- **Other**:

***
# Bug

**What happened**:
Getting the following stack trace when trying to read a Delta Lake table from GCS (code is executing from Jupyter notebook):

----> 1 dt = DeltaTable("gs://valid/path", version=0)

~/Source/evms_analysis/evms_analysis/lib/python3.8

[2021-12-29 22:52] viirya commented on #530
What happens if you don't specify version but load from latest version? Seems it cannot load from the log of version 0?

[2021-12-30 14:04] oneextrafact commented on #530
I've tried without the version argument as well, doesn't work.

[2021-12-31 16:20] thovoll commented on #527
This sounds like a good use case. Note that the auth is currently in flux as we are [in the process of adopting the ADLS Gen2 API](https://github.com/delta-io/delta-rs/pull/499).

[2021-12-31 16:34] thovoll commented on #497
Thanks @roeap, you are correct on ALL counts and I agree with the direction. Would be great to get your help on this.

I'm restarting work soon and will finish #499 as discussed in #489, taking the shortest path to getting writes to work - I want to start testing the basic write path. Once that is in place, let's proceed as you outlined above.

[2022-01-03 13:27] thovoll commented on #497
On the matter of two authorization methods being used at the moment, I think the next step should be https://github.com/Azure/azure-sdk-for-rust/issues/490, which would allow us to stop using the access key in delta-rs.

After that, the other parts of storage and data_lake can evolve independently. The next step for data_lake would probably be https://github.com/Azure/azure-sdk-for-rust/issues/426

[2022-01-04 09:34] roeap commented on #497
@thovoll, Happy to support where I can! Very much looking forward to having this integration :).

For some personal experiments I needed a Kusto client and recently refactored this to be compatible with the pipelines architecture. As part of this there is an auth policy based on token credentials and using essentially the same auto.refresh as in this crate. Could [this](https://github.com/roeap/fl

[2022-01-04 16:52] langelgjm commented on #524
@d-bhutada there are a few other places where the type information needs to be changed as well. I made PR #531 but I need approval to run workflows to check if this fixes the issue. I also made a PR against your PR if you want to merge it, then your PR #529 will be updated and presumably your workflows will run.

[2022-01-04 18:03] d-bhutada commented on #524
Thanks Gabrial for pitching in here!

I have merged your changes to my branch and created pull request for it. Someone needs to review it who has full access.

https://github.com/delta-io/delta-rs/pull/532 <https://github.com/delta-io/delta-rs/pull/532>

Thanks again!

[2022-01-04 18:04] d-bhutada commented on #524
@houqp Please test the pull request https://github.com/delta-io/delta-rs/pull/532 if you have rights

[2022-01-04 20:01] viirya commented on #530
Hmm, I can see we have s3 and azure tests, but I don't find gcs test. I suppose that the gcs storage module works. Maybe I can create a free trial gcs bucket to test it...

[2022-01-04 21:40] viirya commented on #530
Okay. I just spent some time setting up a trial gcs bucket to test it.

Do you set `SERVICE_ACCOUNT` environment variable to the path of gcs credentials with permission to read from the bucket?

If `SERVICE_ACCOUNT` is not correctly set, there will be the error `"No such file or directory"`. The error is very confusing as it actually means the path to gcs credentials cannot be found...

[2022-01-05 03:56] thovoll commented on #497
Thanks @roeap, yes let's talk details over in the Azure repo :)

[2022-01-05 14:28] oneextrafact commented on #530
Yes, that was it! I thought SERVICE_ACCOUNT was asking for the account name, not the path to the file. It's working now. Thanks!

[2022-01-05 14:28] #530 closed

[2022-01-06 17:48] langelgjm commented on #457
Fixed by #531

[2022-01-06 17:48] #457 closed

[2022-01-06 17:49] langelgjm commented on #524
@d-bhutada #531 fixed by issue so I have closed #457. You may want to build from main and verify that your issue is resolved as well, I suspect it will be, then you can close this issue.

[2022-01-06 17:52] d-bhutada commented on #524
@jeisinge could you please check if the issue is resolved now?

[2022-01-06 18:29] jeisinge commented on #524
I'm away from my computer for the next couple of days. I'll test next week.

On Thu, Jan 6, 2022, 10:52 AM d-bhutada ***@***.***> wrote:

[2022-01-08 15:20] sa- opened #536 "0.5.4 fails to install on m1 macbook (2021)"
# Environment

**Delta-rs version**: 0.5.3

**Binding**: python

**Environment**:
- **Cloud provider**:
- **OS**: macos monterey
- **Other**:

***
# Bug
[code]

[2022-01-08 16:29] wjones127 opened #537 "R bindings"
# Description

Would like to have R bindings for Delta Table and implement [Dataset API for deltalake in R]().

**Use Case**

R bindings would allow R users access to Delta tables. Arrow Dataset bindings would allow them to use Arrow engine, DuckDB, or any other compatible query engine to process them.

**Related Issue(s)**

Umbrella issue in Apache Arrow: https://issues.apache.org/jira/browse/ARR

[2022-01-08 19:07] houqp commented on #536
I think this is because we are only have binary releases for macos_10_07 uploaded to https://pypi.org/project/deltalake/#files. We need to update our python release pipeline to also include macosx_11_0 so users won't try to build it from source.

@sa- can you try to build it with the latest master branch and see if it works for monterey?

[2022-01-08 19:08] houqp commented on #536
As for the proper fix, I think we can just add macos-11 to the list at https://github.com/delta-io/delta-rs/blob/3c83a1df0eb08a15561b35815e5f43da4adabb89/.github/workflows/python_release.yml#L33

[2022-01-10 15:02] sa- commented on #536
@houqp I've developed on this lib before, is there a guide on how to do this?

[2022-01-10 15:05] sa- commented on #536
FYI running cargo build from root gives me
[code]

[2022-01-10 15:12] sa- commented on #536
Deleted some irrelevant comments.

It works.

I ran `make develop` in the python folder, and voilà
[code]

[2022-01-10 17:35] #536 closed

[2022-01-10 19:19] viirya commented on #257
I tried this a little bit for curiosity. I saw a few issues when returning the table struct as a trait object. For example, not all fields are public in DeltaTable struct. We rely on the struct to hide internal stuffs. If we have it as a trait object, we will expose these internals.

[2022-01-12 01:48] houqp commented on #257
Yeah, very good point @viirya . I now think it might be better to not use DeltaTable as trait object, at least not for the first version, otherwise it will also restrict us from defining generic methods as well.

[2022-01-12 05:18] wjones127 opened #542 "Python PyArrow Dataset Writer"
# Description

We have a PyArrow Dataset reader that works for Delta tables. Looking through the writer, I think we might have enough functionality to create a one.

Here are my rough notes on how that might work:

 * Use [`pyarrow.dataset.write_dataset`](https://arrow.apache.org/docs/python/generated/pyarrow.dataset.write_dataset.html?highlight=writtenfile#pyarrow-dataset-write-dataset) to write

[2022-01-12 15:14] jeisinge commented on #524
I am not as familiar with the build system here.  Is there an easy way from a notebook to build/install the latest from master?

[2022-01-12 15:17] langelgjm commented on #524
@jeisinge if you clone the repo, enter into the cloned directory, and follow the instructions [here](ttps://github.com/delta-io/delta-rs/tree/main/python#build-manylinux-wheels) (potentially with my additional line suggested [here](https://github.com/delta-io/delta-rs/pull/534)), that will let you build a Python wheel you can install and test locally.

[2022-01-12 17:20] jeisinge commented on #524
I am trying --- Docker doesn't work in Databricks Notebooks.  Running outside of Docker, I get the following error when running `make develop`:

[code]

Any thoughts?

[2022-01-12 17:52] jeisinge commented on #524
Great news!  I finally was able to test.  I am able to list files now.  Thank you!

[2022-01-12 18:09] #524 closed

[2022-01-14 05:30] xudong963 opened #543 "running the example of `read_delta_table` reports an error"
# Environment

**Delta-rs version**:
master

**Binding**:

**Environment**:
- **Cloud provider**:
- **OS**: macos
- **Other**:

***
# Bug

**What happened**:
`Error: Not a Delta table: No snapshot or version 0 found, perhaps ./tests/data/delta-0.8.0 is an empty dir?`

**What you expected to happen**:
No error
**How to reproduce it**:
run the example
[code]

**More details**:

[2022-01-14 07:55] fvaleye commented on #543
Hello @xudong963!

Could you please share with us the command line (and the path where you launched it) used for running the example?

[2022-01-14 08:49] xudong963 commented on #543
Oh, I just run use the button of Clion.
![image](https://user-images.githubusercontent.com/41979257/149480575-77279643-bf08-4405-b0fd-765bdde8c497.png)
I believe it's because clion's execution position isn't at `delta-rs/rust`.

When I run ` cargo run --color=always --example read_delta_table --manifest-path Cargo.toml` at `delta-rs/rust`, it's ok.

[2022-01-14 11:59] fvaleye commented on #543
Thanks @xudong963

Yes, you're right - I think it's because we use a relative path `./tests/data/delta-0.8.0`. We are launching the example command line from the `delta-rs/rust` folder.

[2022-01-15 10:26] xudong963 commented on #543
Thanks @fvaleye ,  closed

[2022-01-15 10:26] #543 closed

[2022-01-19 07:49] mingruimingrui commented on #300
Sorry everyone I realized that this feature might not be trivial to support.
HDFS and the apache stack can be very complicated to support. Optimally users connecting to HDFS should be using the correct client version intended by the cluster maintainers. This can often mean that the user should use the version of HDFS as provided in the system they are running it on. So to support this feature I th

[2022-01-19 07:58] mingruimingrui commented on #300
I find that the solution by @yjshen is a really sound one but installation will likely differ across systems.
Eg. the company I work at has a custom hdfs version. So I'll have to make sure to build hdfs-native correctly.
The barrier of adoption might be high.

[2022-01-19 08:20] yjshen commented on #300
Hi @mingruimingrui , I've met with a similar problem, a customized HDFS version similar to yours. To make it worse, we even use HDFS with federation that isn't supported by native CPP implementations.

Since the motivation for me to implement `hdfs-native` as well as `datafusion-hdfs` is to call DataFusion through JNI in Spark executors to boost the performance. We currently adopt another approach

[2022-01-19 23:21] thovoll opened #545 "[Azure] Remove references to abfs"
# Environment

**Delta-rs version**: 0.4.0

**Binding**: Rust

**Environment**:
- **Cloud provider**: Azure
- **OS**: Windows

***
# Bug

**What happened**: When using Azure storage, an "abfss://..." URI has to be provided by the user, even though the ABFS driver is not actually used by `delta-rs` (the ABFS driver is part of Hadoop and enables it to access ADLS Gen2 storage accounts). See more her

[2022-01-19 23:25] thovoll opened #546 "ADLS Gen2 backend should check if the storage account has hierarchical namespaces enabled"
# Description

**Use Case**
The Azure backend of delta-rs will use the ADLS Gen2 API to atomically rename files. Since the ADLS Gen2 API can be used with Azure Storage Accounts that are not ADLS Gen2, the delta-rs Azure backend should check this and fail if incorrect. The storage account must be ADLS Gen2, meaning hierarchical namespaces must be enabled.

[2022-01-21 07:40] houqp commented on #300
The barrier of adoption might be high.

Yeah, unfortunately for custom setup, a custom build will be needed for native applications. I am guessing clickhouse has the same problem as well.

[2022-01-21 08:04] yjshen commented on #300
Yes, that is true for ClickHouse. For now, our hosted ClickHouse cluster can only use one single HDFS NameNode. Lack the capability to use federated HDFS.

[2022-01-24 04:39] #278 closed

[2022-01-24 04:39] #477 closed

[2022-01-25 13:54] fvaleye opened #549 "VACUUM operation failed with a S3 path"
# Environment

**Delta-rs version**: `0.5.5`

**Binding**: Python/Rust

**Environment**:
- **Cloud provider**: AWS
- **OS**: MacOS11

***
# Bug

**What happened**:
[code]

**What you expected to happen**: a `VACUUM` dry_run command

**More details**:
The root cause is located [here](https://github.com/delta-io/delta-rs/blob/main/rust/src/delta.rs#L390) when we check if the [object meta path is val

[2022-01-27 05:56] #413 closed

[2022-01-29 00:40] #545 closed

[2022-01-30 01:33] houqp opened #552 "Check for copy object response content"
# Environment

**Delta-rs version**: all

**Binding**:  rust

***
# Bug

Turns out S3 object copy call can fail and return 200 status at the same time: https://docs.aws.amazon.com/AmazonS3/latest/API/API_CopyObject.html#API_CopyObject_ResponseElements. We need to inspect the response content to decide whether the copy went through or not.

[2022-01-30 14:19] explicite commented on #390
@houqp I raised draft for this https://github.com/delta-io/delta-rs/pull/553

Still no sure:
1. if we should expose whole state on table
2. Ruby/Python we should move object like state to `DeltaTable...` definitions, or expose only version

Thanks for advice

[2022-01-30 18:29] houqp commented on #390
Thanks @explicite for taking on this task! The general rule of thumb for exposing internal fields as public is to consider whether there is a dependency between the field we want to expose with any other field in the struct. In this case, I think version was the only field that correlates to state, so it should be safe to expose the state field after we moved the version field into it. If a field

[2022-01-31 14:33] francisco-ltech commented on #392
Is anyone having the same issue but in the rust package?

abfss://container@storagename.dfs.core.windows.net/folder/delta-0.8.0

Error: Failed to read delta log object: Invalid object URI

Caused by:
    0: Invalid object URI
    1: Invalid URI scheme: abfss

[2022-01-31 14:38] thovoll commented on #392
We switched from abfss:// to adls2:// in #499. Can you give more context on when you get this error?

[2022-01-31 18:50] thovoll commented on #392
Try AZURE_STORAGE_ACCOUNT_NAME=myaccountname, not the full URL

[2022-01-31 20:33] roeap commented on #392
As @thovoll points out, it look like the error you see is related to the scheme being changed, and I agree with the account var only referring to the account.

@thovoll - while `abfss` is technically referring to something we are not using here, do you thing we should maybe support both schemes for backwards compatibility?

[2022-01-31 21:29] francisco-ltech commented on #392
@thovoll Same error even with myaccountname only (not full url).

Looking at the code base, I think this is where the storagename is evaluated and wondering if I'm missing something in my code to indicate the use of feature=azure?

[code]

[2022-01-31 21:52] roeap commented on #392
@francisco-ltech - you are correct. For some reason I was thinking about the python bindings, where azure is enabled by default. You need to activate the `azure` feature for azure to work when working with the rust crate directly.

Also, as of now you need to use a git reference in your Cargo.toml when using azure. Sine the crates were not published to crates.io yet, they are not available in the

[2022-01-31 22:04] francisco-ltech commented on #392
@roeap - That makes sense now, thank you!

[2022-01-31 22:15] thovoll commented on #392
I'd rather see if adls2 sticks, version 0.x is the time to figure this out :)

[2022-02-02 13:03] thovoll opened #554 "Use released Azure SDK crates"
https://crates.io/crates/azure_core
https://crates.io/crates/azure_identity
https://crates.io/crates/azure_storage_blobs
https://crates.io/crates/azure_storage_datalake

[2022-02-02 13:08] thovoll opened #555 "Enable configuring Azure backend explicitly"
# Description
Enable configuring Azure backend explicitly (rather than through env).

This enables different backend configuration for two different delta tables (which is a need in kafka-delta-ingest for dead lettering to delta).

**Use Case**
https://github.com/delta-io/kafka-delta-ingest/pull/69

**Related Issue(s)**
#418

[2022-02-04 18:16] #549 closed

[2022-02-04 18:41] #402 closed

[2022-02-08 18:40] bossenti opened #559 "Error loading DeltaTable on AWS with default values"
# Environment

**Delta-rs version**: 0.5.5, 0.5.6

**Binding**:  Python

**Environment**:
- **Cloud provider**: AWS
- **OS**: MacOS/Ubuntu

***
# Bug

**What happened**:
Reading a delta table with `DeltaTable(table_uri=path_to_table)` yields to the following error:

[code]
**What you expected to happen**:
Read delta table successfully

**How to reproduce it**:
see **what happened**

**More details

[2022-02-22 22:42] thovoll opened #561 "Python usage docs still reference abfss"
# Environment

**Delta-rs version**: 0.5.6

**Binding**: python

**Environment**: any
- **Cloud provider**: any
- **OS**: any
- **Other**: n/a

***
# Bug

**More details**: Usage docs should say adls2 instead of abfss

[2022-02-24 01:57] zijie0 commented on #495
@houqp I just tested the case on arrow version 7.0.0, it is fixed by https://github.com/apache/arrow/pull/11858 . Thanks for following up this issue.

[2022-02-24 01:57] #495 closed

[2022-02-24 04:48] wjones127 commented on #542
## API Draft

Standalone function for writing, to allow for idempotent create or append/overwrite:

[code]

I'm thinking `backend` parameter would function similar to the `engine` parameter in parquet fuctions in Pandas ([example](https://pandas.pydata.org/pandas-docs/dev/reference/api/pandas.DataFrame.to_parquet.html)). For now PyArrow might be the only backend, but I foresee we could also suppor

[2022-02-24 10:58] dgcaron commented on #561
this is being addressed in #560

[2022-02-25 11:50] burakyilmaz321 opened #563 "Cannot read delta table partitioned by a date typed column"
# Environment

**Delta-rs version**: 0.5.6

**Binding**: python

**Environment**: any
- **Cloud provider**: any
- **OS**: any
- **Other**: n/a

***
# Bug

**What happened**: Cannot read delta table partitioned by a date type column.

**What you expected to happen**: It should be able to read tables partitioned by date.

**How to reproduce it**:

Generate fake data and save it
[code]

Read this wit

[2022-02-25 16:32] theyaa opened #564 "Getting (PyDeltaTableError: Not a Delta table: No snapshot or version 0 found) exception reading from Azure blob storage"
# Environment
Azure
**Delta-rs version**: 0.5.6

**Binding**: Azure

**Environment**: python
- **Cloud provider**: Azure
- **OS**: Windows
- **Other**:

***
# Bug

**What happened**:
Trying to query deltalake from azure blob storage given the below example but getting exception.

%env "AZURE_STORAGE_ACCOUNT_NAME"="account_name"
%env "AZURE_STORAGE_ACCOUNT_KEY"="access_key"
options={"AZURE_STORAGE_

[2022-02-25 19:28] wjones127 commented on #563
@burakyilmaz321 Thanks for reporting this. I think we should be able to fix this in delta-rs. PyArrow does seem capable of parsing the partition column as a date:

[code]

[2022-02-25 21:29] burakyilmaz321 commented on #563
@wjones127 I made a patch [here](https://github.com/burakyilmaz321/delta-rs/commit/d08934e58eab260d3bbe9e917f0adaacc1b7712f) and it works for me. I can create a PR if you are interested.

[2022-02-25 22:21] wjones127 commented on #563
@burakyilmaz321 That looks like it will solve your case, but will break the pass through of file statistics to datasets. (In particular, I think this test will fail with this change: https://github.com/delta-io/delta-rs/blob/main/python/tests/test_table_read.py#L148).

I will likely look at fixing this issue this weekend.

[2022-02-26 01:47] GraemeCliffe-inspirato commented on #542
I'm not sure what the convention is, but it might be a good idea to have overwrite be the default argument for mode of .write()

[2022-02-26 17:19] wjones127 commented on #563
@burakyilmaz321 Thanks for reporting this! 🙌

It looks like this was a regression introduced in 0.5.5; if you downgrade to 0.5.4 you should be able to read the table. I have an open PR to fix this and add tests to prevent this issue from coming up again.

[2022-02-26 17:27] wjones127 commented on #542
The default in PySpark (which I think most users will be coming from) is to error if any data already exists.

https://spark.apache.org/docs/latest/api/python/reference/api/pyspark.sql.DataFrameWriter.saveAsTable.html?highlight=saveastable#pyspark.sql.DataFrameWriter.saveAsTable

That makes sense for the standalone function `write_deltalake()`, but maybe not as much for the method on `DeltaTable`,

[2022-02-26 19:40] burakyilmaz321 commented on #563
Great news! Thanks ✋

[2022-03-01 17:20] thovoll opened #568 "Use Blob API for Azure backend put_obj"
https://github.com/delta-io/delta-rs/blob/b9e170c85d12a77e927af87f990810dfcd746a91/rust/src/storage/azure/mod.rs#L221

[2022-03-02 03:49] wjones127 opened #570 "Python: Finish filesystem bindings"
# Description

The PyArrow filesystem bindings are only partially implemented: https://github.com/delta-io/delta-rs/blob/main/python/deltalake/fs.py

**Use Case**

We will need the rest of the methods implemented for the PyArrow writer (`write_deltalake()`) to work.

**Related Issue(s)**

Blocks: #542

[2022-03-04 16:14] Currerius opened #571 "cargo install deltalake fails with error"
# Environment

**Delta-rs version**: v0.4.0

**Binding**:

**Environment**:
- **Cloud provider**:
- **OS**: Ubuntu 22.04 daily
- **Other**:

***
# Bug

**What happened**: Running `cargo install deltalake` fails with 5 errors

**What you expected to happen**: I am new to rust and deltalake. I expect the `cargo install deltalake` to complete successfully and then be able to write rust code which wri

[2022-03-07 08:38] houqp commented on #571
could you try cargo install from source with the latest master? this issue should have been fixed in the latest refactor where we moved the inspect binary into its own crate at https://github.com/delta-io/delta-rs/tree/main/delta-inspect

[2022-03-10 07:11] #563 closed

[2022-03-15 23:57] wjones127 commented on #570
In addition, it probably makes sense to also add in support for Windows and "older" Linux. See https://github.com/delta-io/delta-rs/blob/d54e952026c83fd15c4d5a8b6c07339405751d48/rust/src/storage/file/rename.rs#L96-L114

[2022-03-17 19:57] mpetri commented on #480
Not sure if this is the best way to report this but currently when I try to use the deltalake crate with datafusion:

[code]

 I get the following error:

[code]

I saw deps were recently updated but crates.io still only contains version 0.4 of the deltalake crate

[2022-03-20 21:47] wjones127 commented on #561
@houqp FYI I think this could be closed given #560 has been merged.

[2022-03-20 22:43] houqp commented on #561
Thanks @wjones127 for helping with the issue clean up :)

[2022-03-20 22:43] #561 closed

[2022-03-23 02:39] wjones127 opened #574 "Python: Support passing filesystem in write_deltalake"
# Description

`write_deltalake` has an argument for filesystem, but it's not used yet.

**Related Issue(s)**
Part of umbrella issue: #542
Blocked by: #570

[2022-03-23 02:52] wjones127 opened #575 "Python: Support writer protocol V2 in write_deltalake"
# Description

Most delta tables are now V2 by default, so writer isn't yet compatible with most systems.

Two features needed are:

 * [x] Add support for enforcing `delta.appendOnly`. Just need to check the delta config, check the `mode` parameter, and throw an error if needed. (https://github.com/delta-io/delta-rs/pull/590)
 * [ ] Add support for enforcing [column invariants](https://github.com

[2022-03-23 02:56] wjones127 opened #576 "Python: allow metadata for write_deltalake"
# Description

Currently, `write_deltalake()` doesn't support passing in a table name or description, or additional custom config values.

**Related Issue(s)**
Umbrella issue: #542

[2022-03-23 03:02] wjones127 opened #577 "Python: Support date32 and decimal statistics in PyArrow writer"
# Description

In PyArrow, date32 and decimal statistics from parquet metadata aren't translated into appropriate type, but are instead raw bytes. We can either decode them ourselves, or wait for PyArrow to implement that conversion. Upstream issue: https://issues.apache.org/jira/browse/ARROW-7350

**Use Case**

**Related Issue(s)**
 * #542

[2022-03-23 03:03] wjones127 commented on #570
I am working on this one.

[2022-03-23 15:06] george-zubrienko opened #578 "Large timestamps (9999-12-31) not read correctly"
# Environment

**Delta-rs version**: 0.5.6

**Binding**: Python (deltalake 0.5.6)

**Environment**:
- **Cloud provider**: Azure
- **OS**: Ubuntu 20.04
- **Other**: Python 3.9 (poetry venv)

***
# Bug

**What happened**:

The following code fails when trying to read a delta table that has TIMESTAMP column with `9999-12-31 00:00:00` values instead of nulls:
[code]

Trace:

[code]

If `columns` doesn

[2022-03-23 17:43] wjones127 opened #579 "Python: Create PySpark integration tests for reading/writing"
# Description

The particular types used by Spark's parquet differ from PyArrow, so we should have integration tests to make sure we are compatible with them.

**Related Issue(s)**
Inspired by:
 * #578

[2022-03-23 17:47] wjones127 commented on #578
Thanks for the report! I think we want to be compatible with Spark by default, so hard-coding `ParquetReadOptions(coerce_int96_timestamp_unit='ms'))` seems appropriate to me.

But I also agree we should allow passing through format and writer kwargs as well. For writer args, there are options controlling sizes of row groups and files that users might want to tune.

Feel free to submit a PR for thi

[2022-03-23 19:11] george-zubrienko commented on #578
I think it is enough just to expose parquet read/write options - it would be nice to be able to control row group size when writing as you mentioned. I'll try to find some time and send a proposal PR this weekend.

[2022-03-27 09:15] george-zubrienko commented on #578
@wjones127 please take a look at this [draft](https://github.com/delta-io/delta-rs/pull/581). If/when the exposed options are agreed, I'll add unit tests for the corner case mentioned in this issue, as well as 0001-01-01 date

[2022-03-28 18:50] xiaoyongzhu opened #582 "deltalake.PyDeltaTableError: Invalid JSON in log record: missing field `minValues` at line 1 column 16"
# Environment
Local Python + Azure Spark
**Delta-rs version**:
unkonwn
**Binding**:
Python (latest installation from pip)
**Environment**:
- **Cloud provider**: Azure
- **OS**: Linux
- **Other**: Tested in Local Linux

***
# Bug

**What happened**:
[code]

After the above lines were executed, the error will be like below:
[code]
**What you expected to happen**:
Function correctly

**How to reprodu

[2022-03-28 19:53] wjones127 commented on #582
It sounds like Spark wrote a bad statistics in the Delta log. Two possible (and not mutually exclusive) solutions:

 (1) If there is an error processing statistics, we could ignore the stats. (Maybe we have an option to error on bad stats, if people want that.)
 (2) We could adapt the statistics JSON schema in delta-rs to handle the behavior of this writer.

Do you have information on the version